.employer-sec {
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.company-sec {
    width: 100%;
	position: relative;
}

.company-sec::before {
    position: absolute;
    content: " ";
    background: url(../images/company-bg.png) center top;
    min-height: 400px;
    z-index: 9;
    width: 100%;
}

.company-sec.suggested {
    width: 100%;
    position: relative;
}

.company-sec.suggested::before {
    background: url(../images/suggested-bg.png) center top;
}

.company-sec.search-co::before, .company-sec.blog-sec::before, .company-sec.hiring::before {
    background-image: none;
}

.company-sec.search-co {
    background: #825bbc;
    background: -moz-linear-gradient(left, #825bbc 0%, #324192 100%);
    background: -webkit-linear-gradient(left, #825bbc 0%, #324192 100%);
    background: linear-gradient(to right, #825bbc 0%, #324192 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#825bbc', endColorstr='#324192', GradientType=1);
}

.company-sec.suggested::after {
    background: #fff;
    position: absolute;
    content: " ";
    width: 100%;
    height: 305px;
    bottom: 0;
    left: 0;
    right: 0;
}

.company-sec .company-cont {
    padding: 90px 0px;
    position: relative;
    z-index: 9;
}

.company-sec.blog-sec .company-cont {
    padding: 80px 0px;
}

.company-sec.blog-sec {
    background-color: #fff;
}

.company-sec .company-cont .sub-head {
    color: #fff;
    font-weight: 800;
    font-size: 52px;
    line-height: 56px;
}

.company-sec .company-cont p {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 28px;
    padding-top: 5px;
}

.company-sec .company-cont .slide-sec {
    width: 100%;
    background: #fff;
    padding: 18px;
    border-radius: 10px;
    margin-top: 30px;
    position: relative;
}

.company-sec .company-cont .slide-sec ul {
    margin-left: -9px;
    margin-right: -9px;
}

.company-sec .company-cont .slide-sec ul.slides-sect {
    margin: 0 auto;
}

.company-sec .company-cont .slide-sec.slide2 .lSAction a {
    top: 32%;
}

.company-sec.hiring .company-cont .slide-sec.slide2 .lSAction a {
    top: 48%;
}

.company-sec .company-cont .slide-sec .lSAction a {
    width: 28px;
    height: 52px;
    opacity: 1;
}

.company-sec .company-cont .slide-sec .lSAction a.lSPrev {
    background: url(../images/arrow-l.png) center center no-repeat;
    left: -50px;
}

.company-sec .company-cont .slide-sec .lSAction a.lSNext {
    background: url(../images/arrow-r.png) center center no-repeat;
    right: -50px;
}

.company-sec .company-cont .slide-sec .lSSlideWrapper {
    overflow: visible;
    position: inherit;
}

.company-sec .company-cont .slide-sec ul.slides-sect li {
    margin: 0 auto;
    background: none;
    overflow: hidden;
}

.company-sec .company-cont .slide-sec ul.slides-sect li img {
    width: 100%;
}

.company-sec .company-cont .slide-sec ul li {
    background: #e9ebf3;
    border-radius: 10px;
    width: calc(33% - 18px);
    display: inline-block;
    vertical-align: top;
    margin: 9px;
}

.company-sec .company-cont .slide-sec .img-sec img {
    max-width: 100%;

}

.company-sec .company-cont .slide-sec .img-cont {
    padding: 40px;
    background: #e9ebf3;
}

.suggested .company-cont .slide-sec .img-cont h2 {
    min-height: 90px;
}

.company-sec .company-cont .slide-sec .img-cont h2 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
	min-height: 100px;
}

.company-sec .company-cont .slide-sec .img-cont h4 {
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    color: #333333;
    min-height: 80px;
}

.company-sec .company-cont .slide-sec .img-cont p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    color: #333333;
}

.company-sec .company-cont .slide-sec.top-box h6 {
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
    color: #333333;
}

.company-sec .company-cont .slide-sec.top-box {
    padding-bottom: 0px;
}

.company-sec .company-cont .slide-sec.top-box li {
    text-align: center;
    padding-left: 65px;
    padding-right: 65px;
    padding-top: 40px;
    padding-bottom: 40px;
    margin-bottom: 15px;
}

.company-sec .company-cont .slide-sec.top-box h6 {
    padding-top: 20px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.company-sec .company-cont .slide-sec h6 {
    padding-bottom: 20px;
    color: #333333;
    font-size: 14px;
    font-weight: 500;
}

.company-cont .slide-sec {
    background: none;
}

.company-sec .company-cont .slide-sec.top-box .img-sec {
    padding-bottom: 20px;
}

.company-sec .company-cont .slide-sec.top-box .img-cont {
    padding: 0px;
}

.company-sec.hiring .img-sec .left-arrow, .company-sec.hiring .img-sec .right-arrow, .company-sec.hiring .img-sec .top-arrow {
    width: auto !important;
}

.company-sec.hiring .img-sec .left-arrow {
    position: absolute;
    right: 0;
    top: 45%;
}

.company-sec.hiring #slide3 .img-sec .left-arrow {
    visibility: hidden;
}

.company-sec.hiring .img-sec .right-arrow {
    position: absolute;
    left: 0;
    top: 45%;
}

.company-sec.hiring .img-sec .top-arrow {
    position: absolute;
    bottom: 0;
    left: 45%;
}

.company-sec .company-cont .search-sec {
    width: 100%;
    padding-top: 90px;
}

.company-sec .company-cont .search-sec ul {
    padding-top: 20px;
}

.company-sec .company-cont .search-sec h3 {
    color: #333333;
    font-size: 42px;
    line-height: 56px;
    font-weight: 800;
    text-align: center;
}

.company-sec.hiring .company-cont .slide-sec li {
    border-radius: 0;
}

.company-sec.hiring .company-cont .slide-sec ul {
    border-radius: 10px;
}

.company-sec.hiring .company-cont h3 {
    font-size: 35px;
    line-height: 56px;
    font-weight: 800;
    text-align: center;
}

.company-sec.search-co .company-cont .search-sec h3 {
    color: #fff;
}

.company-sec.search-co .company-cont .search-sec h3 span {
    font-weight: 400;
}

.company-sec.hiring .company-cont h3, .company-sec.hiring .company-cont h6 {
    color: #000;
}

.company-sec.hiring .company-cont h3 span {
    font-weight: 400;
    color: #757679;
}

.company-sec.hiring .company-cont h6 {
    font-weight: 800;
    font-size: 20px;
    padding-bottom: 10px;
}

.company-sec .company-cont .search-sec li {
    display: inline-block;
    border-radius: 10px;
    margin-right: 5px;
}

.company-sec.search-co .company-cont .search-sec li {
    margin-bottom: 5px;
}

.company-sec .company-cont .search-sec li:last-child {
    margin-right: 0px;
}

.company-sec .company-cont .search-sec .job-title {
    width: 480px;
    height: 58px;
    line-height: 54px;
}

.company-sec.search-co .company-cont .search-sec .job-title label {
    position: relative
}

.company-sec.search-co .company-cont .search-sec .job-title label:after {
    content: url(../images/drop.png);
    font: 11px "Consolas", monospace;
    color: #aaa;
    right: 13px;
    top: 3px;
    padding: 0 0 2px;
    position: absolute;
    pointer-events: none;
}

.company-sec.search-co .company-cont .search-sec .job-title label:before {
    content: '';
    right: 0px;
    top: 0px;
    width: 30px;
    height: 50px;
    background: none;
    position: absolute;
    pointer-events: none;
    display: block;
}

.company-sec.search-co .company-cont .search-sec .job-title {
    width: 48%;
}

.company-sec.search-co .company-cont .search-sec .job-title label {
    width: 100%;
}

.company-sec .company-cont .search-sec .sub-btn {
    width: 190px;
    height: 58px;
    line-height: 54px;
}

.company-sec.search-co .company-cont .search-sec .sub-btn {
    width: 48%;
    margin-left: 49.5%;
    margin-top: 5px;
}

.company-sec .company-cont .search-sec input[type="text"], .company-sec .company-cont .search-sec select {
    width: 100%;
    border: none;
    background: #Fff;
    padding-left: 22px;
    color: #757679;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.company-sec .company-cont .search-sec select {
    height: 58px;
}

::placeholder {
    color: #757679;
    opacity: 1;
}

.company-sec .company-cont .more {
    border: none;
    background: #45b6a2;
    padding: 12px 22px;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #45b6a2;
    display: inline-block;
    margin-top: 10px;
}

.company-sec .company-cont .more:hover {
    color: #45b6a2;
    border: 2px solid #45b6a2;
    background: none;
}

.company-sec .company-cont .search-sec input[type="submit"] {
    width: 100%;
    border: none;
    background: #45b6a2;
    color: #fff;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    text-transform: uppercase;
    cursor: pointer;
    border: 2px solid #45b6a2;
}

.company-sec .company-cont .search-sec input[type="submit"]:hover {
    color: #45b6a2;
    border: 2px solid #45b6a2;
    background: none;
}

.sales-force-sec {
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 0px 0px;
    position: relative;
}

.sales-force-sec .sales-force-cont ul {
    position: relative;
    z-index: 10;
}

.sales-force-sec .sales-force-cont li {
    display: inline-block;
    margin-right: 10px;
}

.sales-force-sec .sales-force-cont .join-talent {
    background: #45b6a2;
    color: #fff;
    width: 265px;
    height: 50px;
    line-height: 50px;
    border-radius: 10px;
    font-size: 15px;
    display: inline-block;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    border: 2px solid #45b6a2;
}

.sales-force-sec .sales-force-cont .join-talent:hover {
    background: none;
    border: 2px solid #45b6a2;
    color: #45b6a2;
}

.sales-force-sec .sales-force-cont .join-job {
    width: 214px;
    height: 50px;
    line-height: 46px;
    border: 2px solid #000;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    color: #000;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.sales-force-sec .sales-force-cont .join-job:hover {
    background: #000;
    color: #FFF;
}

.sale-logo {
    position: absolute;
    z-index: 9;
    top: -180px;
}

.sale-logo .sale-pic {
    float: left;
    margin-right: 50px;
    width: 230px;
    height: 230px;
    text-align: center;
    border-radius: 50%;
    background: #fff;
}

.sale-logo .sale-title {
    float: left;
    color: #fff;
    font-size: 80px;
    line-height: 66px;
    font-weight: 800;
    padding-top: 70px;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

.employer-sec-page {
    width: 100%;
    background: #f9f9f9;
    padding: 100px 0px;
    position: relative;
}

.employer-cont {
    background: #fff;
    box-shadow: 0 0 40px rgba(0, 0, 0, .2);
    border-radius: 10px;
    display: table;
    width: 100%;
    padding: 0px;
}

.employer-sec-page .employer-cont > ul {
    display: table-row;
}

.employer-sec-page .employer-cont > ul > li {
    vertical-align: middle;
    width: 50%;
    display: table-cell;
}

.employer-sec-page .employer-cont li .img-sec iframe {
    width: 100%;
    height: auto;
}

.employer-sec-page .employer-cont li .img-cont {
    padding: 0px 50px;
    max-height: 400px;
    overflow-y: scroll;
}

.employer-sec-page .employer-cont li .img-cont p {
    font-size: 16px;
    font-weight: 500;
    color: #333333;
    line-height: 26px;
    padding-top: 15px;
}

.employer-sec-page .employer-cont .heading {
    color: #000;
    font-size: 50px;
    line-height: 56px;
    font-weight: 700;
	text-transform: lowercase;
}



.employer-sec-page .employer-cont .heading span {
    color: #009cd7;
    font-weight: 500;
}

.employer-sec-page .employer-cont .img-cont li {
    vertical-align: top;
    padding: 0px;
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    border-bottom: 2px solid #e9ebf3;
    width: 100%;
    display: table;
}

.employer-sec-page .employer-cont .img-cont li:last-child {
    border-bottom: none;
}

.employer-sec-page .employer-cont .img-cont li span:first-child {
    font-weight: 700;
    width: 210px;
    display: table-cell;
}

.employer-sec-page .employer-cont .img-cont li span:nth-child(2) {
    width: calc(100% - 210px);
    display: table-cell;
    line-height: 30px;
}

.company-sec.sub-page {
    width: 100%;
    position: relative;
}

.company-sec.sub-page::before {
    position: absolute;
    content: " ";
    background: url(../images/suggested-bg.png) center top;
    min-height: 330px;
    z-index: 9;
    width: 100%;
}

.company-sec.sub-cont {
    position: absolute;
    content: " ";
    background: url(../images/job-bg.png) center center no-repeat;
    min-height: 330px;
    z-index: 9;
    width: 100%;
}

.company-sec .sub-cont .sub-page h2 {
    padding-bottom: 10px;
    font-size: 23px !important;
    min-height: 100px;
}

.company-sec .sub-cont .sub-page .view-job {
    width: 150px;
    height: 50px;
    line-height: 46px;
    background: #000;
    color: #fff;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 700;
    border-radius: 10px;
    margin-top: 30px;
    border: 2px solid #000;
}

.company-sec .sub-cont .sub-page .view-job:hover {
    background: none;
    color: #000;
    border: 2px solid #000;
}

.find-more-sec {
    width: 100%;
    position: relative;
    padding-bottom: 100px;
}

.find-more-sec .find-more-cont {
    background: #fff;
    border-radius: 10px;
    margin-top: 50px;
    padding: 20px;
}

.find-more-sec .heading {
    color: #009cd7;
    font-size: 60px;
    line-height: 56px;
    font-weight: 500;
    text-align: center;
	text-transform: lowercase;
}

.text-center a { color: #000; }

.find-more-sec .heading span {
    color: #000;
    font-weight: 700;
}

.find-more-sec .find-more-cont ul {
    margin-left: -9px;
    margin-right: -9px;
}

.find-more-sec .find-more-cont li {
    display: inline-block;
    width: calc(33% - 18px);
    display: inline-block;
    vertical-align: top;
    margin: 9px;
}

.find-more-sec .find-more-cont h2 {
    color: #000;
    font-size: 30px;
    font-weight: lighter;
}

.find-more-sec .find-more-cont .img-cont {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.award-sec {
    width: 100%;
    background: #fff;
    padding-top: 70px;
    padding-bottom: 80px;
}

.award-sec .heading {
    color: #000;
    font-weight: 700;
    font-size: 50px;
    line-height: 56px;
    text-align: center;
    margin-bottom: 30px;
}

.award-sec .award-cont li {
    display: inline-block;
    background: #e9ebf3;
    border-radius: 10px;
    text-align: center;
    padding: 0;
    width: calc(25% - 24px);
    margin-right: 10px;
    margin-left: 10px;
    vertical-align: top;
}

.award-sec .award-cont li:last-child {
    margin-right: 0px;
}

.award-sec .award-cont li .img-cont h2 {
    font-size: 14px;
    line-height: 16px;
    font-weight: 700;
    color: #333333;
    min-height: 90px;
}

.testi-sec {
    width: 100%;
    background: #e9ebf3;
    position: relative;
    padding: 70px 0px 0px 0px;
}

.testi-sec::before {
    content: " ";
    position: absolute;
    top: 0;
    width: 100%;
    height: 480px;
    background: #000;
}

.testi-sec .testi-cont {
    position: relative;
}

.testi-sec .testi-cont li {
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

.testi-sec .testi-cont li:first-child {
    width: 22%;
}

.testi-sec .testi-cont li:last-child {
    width: 76%;
}

#testisec .carousel-control-next, .carousel-control-prev {
    opacity: 1;
    width: 28px;
    height: 52px;
}

#testisec .carousel-control-next {
    right: -60px;
    top: calc(50% - 26px);
}

#testisec .carousel-control-prev {
    left: -60px;
    top: calc(50% - 26px);
}

.testi-sec .testi-cont li .img-sec {
    width: 170px;
    height: 170px;
    background: #fff;
    border-radius: 50%;
    text-align: center;
    /*padding-top: 40px;*/
    float: left;
    margin-right: 24px;
    overflow: hidden;
    margin-top: -70px;
}

.testi-sec .testi-cont li .img-cont {
    float: left;
    margin-top: 50px;
}

.testi-sec .testi-cont li .img-cont p {
    font-size: 24px;
    color: #fff;
    font-weight: 500;
    line-height: 30px;
}

.testi-sec .testi-cont li .img-cont .heading {
    font-size: 36px;
    color: #fff;
    font-weight: 700;
    line-height: 36px;
}

.testi-sec .testi-cont li h2 {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.testi-sec .testi-cont li p {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
}

.testi-sec .testi-cont li h3 {
    color: #fff;
    font-size: 24px;
    line-height: 30px;
    font-weight: 500;
    
    padding-left: 40px;
    padding-top: 85px;
}

.employer-cont .sub-page {
    padding-left: 100px !important;
    padding-right: 100px !important;
    text-align: center;
}

.gallery-sec {
    width: 100%;
    max-width: 1570px;
    margin: 0 auto;
    background: #fff;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    margin-top: -90px;
}

.gallery-sec li {
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    width: 300px;
}

.gallery-sec .lSSlideWrapper {
    overflow: visible;
    position: inherit;
}

.gallery-sec .lSAction a {
    top: 60%;
}

.gallery-sec .lSAction a {
    width: 28px;
    height: 52px;
    opacity: 1;
}

.gallery-sec .lSAction a.lSPrev {
    background: url(../images/arrow-l.png) center center no-repeat;
    left: -50px;
}

.gallery-sec .lSAction a.lSNext {
    background: url(../images/arrow-r.png) center center no-repeat;
    right: -50px;
}

.our-location {
    width: 100%;
    background: #000;
    text-align: center;
    padding: 80px 0px 80px 0px;
    position: relative;
}

.our-location .location-cont .heading {
    color: #009cd7;
    font-size: 60px;
    line-height: 56px;
    font-weight: 700;
    padding-bottom: 20px;
	text-transform: lowercase;
}

.our-location .location-cont .heading span {
    color: #fff;
    font-weight: 500;
}

.our-location .location-cont p {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    max-width: 90%;
    margin: 0 auto;
}

.our-location .location-cont .map-cont {
    margin: 0 auto;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    margin-top: 40px;
    position: relative;
    z-index: 9;
}

.our-location .location-cont .map-cont iframe {
    width: 100%;
    height: 450px;
}

.our-location::after {
    content: ' ';
    position: absolute;
    background: #fff;
    width: 100%;
    height: 450px;
    bottom: 0px;
    left: 0px;
}

#videosec .carousel-control-next, .carousel-control-prev {
    opacity: 1;
    width: 28px;
    height: 52px;
}

#videosec .carousel-control-next {
    right: 20px;
    top: calc(50% - 26px);
}

#videosec .carousel-control-prev {
    left: 20px;
    top: calc(50% - 26px);
}


#company-subnav {
    background: rgba(255, 255, 255, 0.9);
    top: 80px;
    position: fixed;
    z-index: 999;
    width: 100%;
    line-height: 60px;
    text-align: center;
    display: none
}

#company-subnav a {
    padding-left: 20px;
    padding-right: 20px;
}

#office-locations {
    background: #fff;
    padding: 15px;
    width: 80%;
    margin: auto;
    margin-bottom: -40px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 18px;
    font-weight: lighter;
}

#office-locations ul li {
    padding-left: 10px;
    padding-right: 10px;
    margin: 10px;
    float: left;
    display: block;
    text-align: center;
}

.favouriteControl {
    font-size: 16px;
    text-align: left;
}

.favouriteControl a {
    color: #ff7e00;
}

#mapvac {
    height: 300px;
    margin-bottom: 40px;
}

.center {
    text-align: center;
}

.modal-dialog {
 border: 0px;
}

.modal-content { border: 0px; }

.top-header {
    z-index: 1070;
}

#company-subnav {
    z-index: 1070;
}

@media only screen and (max-width: 780px) {

    #videosec .carousel-item {
        padding-top: 36% !important;
    }

    #videosec .modal-dialog {
        max-width: 100% !important;
    }

}

@media only screen and (max-width: 960px) {

    #videosec .modal-dialog {
        max-width: 100% !important;
    }

}

.map-location-active {
    font-weight: bold;
}

.content-page-body p {
    margin: 10px 0;
}

.content-pages-arrow-prev {
    width: auto;
    left: -60px;
    top: calc(50% - 26px);
    cursor: pointer;
}

.content-pages-arrow-next {
    width: auto;
    right: -60px;
    top: calc(5% - 26px);
    cursor: pointer;
}

.testi-cont-text {
    min-height: 400px !important;
}

.play-button {
    cursor: pointer;
    vertical-align: middle;
    max-width: 130px;
    position: relative;
    margin-left: -160px;
    margin-top: 120px;
}

.play-button:hover {
}

@media (min-width: 1600px) and (max-width: 1918px) {

}

@media (min-width: 1280px) and (max-width: 1599px) {
    .employer-sec {
        height: 50vh;
    }
}

@media (min-width: 992px) and (max-width: 1279px) {

    .employer-sec-page .employer-cont li .img-cont {
        padding: 0px 25px;
    }

    .employer-sec-page .employer-cont .heading {
        font-size: 36px;
        line-height: 42px;
    }

    .employer-sec-page .employer-cont .img-cont li span:first-child {
        width: 180px;
    }

    .employer-sec-page .employer-cont .img-cont li {
        font-size: 14px;
        line-height: 32px;
    }

    .employer-sec-page .employer-cont li .img-cont p {
        font-size: 14px;
    }

    .find-more-sec .find-more-cont li {
        width: calc(33% - 19px);
    }

    .find-more-sec .find-more-cont h2 {
        color: #000;
        font-size: 20px;
        line-height: 42px;
    }

    .award-sec .award-cont li {
        padding: 0;
    }

    .award-sec .award-cont li .img-cont h2 {
        font-size: 14px;
        line-height: 16px;
        padding-top: 10px;
    }

    .gallery-sec {
        max-width: 95%;
    }

    .lSAction {
        display: none !important;
    }

    .our-location {
        padding: 30px 0px 100px 0px;
    }

    .our-location::after {
        height: 270px;
    }

    .find-more-sec .heading {
        color: #757679;
        font-size: 42px;
        line-height: 42px;
    }

    .find-more-sec .find-more-cont {
        margin-top: 25px;
        padding: 10px 20px;
    }

    .award-sec .heading {
        font-size: 42px;
        line-height: 42px;
    }

    .our-location .location-cont .heading {
        font-size: 42px;
        line-height: 42px;
    }

    .employer-sec {
        height: 50vh;
    }


    .company-sec .company-cont {
        padding: 50px 0px;
    }

    .company-sec .company-cont .sub-head {
        font-size: 40px;
        line-height: 40px;
    }

    .company-sec .company-cont p {
        font-size: 14px;
        line-height: 24px;
    }

    .company-sec .company-cont .slide-sec ul li {
        width: calc(33% - 17px);
        margin: 8px;
    }

    .company-sec .company-cont.sub-cont .slide-sec ul li {
        width: calc(33% - 17px);
    }

    .testi-sec .testi-cont li h3 {
        color: #fff;
        font-size: 20px;
        line-height: 26px;
    }

    .testi-sec {
        padding-bottom: 10px;
    }

    .company-sec .company-cont .slide-sec .img-cont {
        padding: 30px;
        padding-right: 20px;
    }

    .company-sec.hiring .company-cont .slide-sec .img-cont {
        padding: 20px;
        padding-right: 20px;
    }

    .company-sec .company-cont .slide-sec h6 {
        padding-bottom: 10px;
    }

    .company-sec.suggested::after {
        height: 240px;
    }

    .company-sec .company-cont .search-sec h3 {
        font-size: 35px;
        line-height: 40px;
    }

    .company-sec .company-cont .search-sec {
        padding-top: 50px;
    }

    .company-sec .company-cont .search-sec .job-title {
        width: 382px;
        height: 58px;
        line-height: 54px;
    }

    .company-sec .company-cont .slide-sec.top-box li {
        padding: 30px;
        margin-bottom: 10px;
    }

    .company-sec .company-cont .slide-sec .img-cont h4 {
        font-size: 20px;
        line-height: 24px;
    }

    .company-sec .company-cont .slide-sec.top-box h6 {
        padding-top: 10px;
    }

    .company-sec .company-cont .search-sec input[type="text"] {
        padding-left: 15px;
        font-size: 14px;
    }

    .company-sec .company-cont .search-sec .sub-btn {
        width: 170px;
    }

    .company-sec .company-cont .slide-sec .img-cont h2 {
        font-size: 20px;
        line-height: 24px;
    }

    .company-sec .company-cont .slide-sec .img-cont p {
        font-size: 16px;
        line-height: 26px;
    }

    .company-sec .company-cont .slide-sec .lSAction {
        display: none !important;
    }

    .find-more-sec {
        margin-top: 20px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .company-sec .company-cont {
        padding: 30px 0px;
    }

    .company-sec .company-cont .sub-head {
        font-size: 35px;
        line-height: 40px;
    }

    .company-sec .company-cont .slide-sec {
        padding: 9px 15px;
        margin-top: 20px;
    }

    .company-sec .company-cont p {
        font-size: 13px;
        line-height: 24px;
    }

    .company-sec .company-cont .slide-sec ul li {
        width: calc(33% - 10px);
        margin: 4px;
    }

    .company-sec .company-cont .slide-sec .img-cont {
        padding: 20px;
        padding-right: 20px;
    }

    .company-sec::before {
        min-height: 280px;
        background-size: cover;
    }

    .company-sec .company-cont .slide-sec h6 {
        padding-bottom: 10px;
    }

    .company-sec.suggested::after {
        height: 148px;
    }

    .company-sec .company-cont .search-sec h3 {
        font-size: 35px;
        line-height: 40px;
    }

    .company-sec .company-cont .search-sec {
        padding-top: 50px;
    }

    .company-sec .company-cont .search-sec .job-title {
        width: 270px;
        height: 50px;
        line-height: 50px;
    }

    .company-sec .company-cont .slide-sec.top-box li {
        padding: 20px;
        margin-bottom: 10px;
    }

    .company-sec .company-cont .slide-sec .img-cont h4 {
        font-size: 17px;
        line-height: 17px;
    }

    .company-sec .company-cont .slide-sec.top-box h6 {
        padding-top: 5px;
    }

    .company-sec .company-cont .slide-sec.top-box .img-sec img {
        width: 100px;
    }

    .company-sec .company-cont .search-sec input[type="text"] {
        padding-left: 15px;
        font-size: 14px;
    }

    .company-sec .company-cont .search-sec .sub-btn {
        width: 160px;
        height: 50px;
        line-height: 45px;
    }

    .company-sec .company-cont .search-sec input[type="submit"] {
        padding-left: 14px;
        font-size: 14px;
    }

    .company-sec .company-cont .slide-sec .img-cont h2 {
        font-size: 14px !important;
        line-height: 18px;
        min-height: 40px;
    }

    .company-sec .company-cont .slide-sec .img-cont p {
        font-size: 14px;
        line-height: 16px;
    }

    .company-sec .company-cont .slide-sec .lSAction {
        display: none !important;
    }

    .employer-sec {
        height: 50vh;
    }

    .sale-logo .sale-pic {
        width: 180px;
        height: 180px;
        margin-right: 30px;
    }

    .sale-logo .sale-title {
        font-size: 48px;
        line-height: 52px;
        padding-top: 40px;
    }

    .sale-logo {
        top: -125px;
    }

    .sales-force-sec .sales-force-cont ul {
        text-align: right;
    }

    .employer-sec-page .employer-cont li .img-cont {
        padding: 30px;
    }

    .employer-cont, .employer-sec-page .employer-cont > ul, .employer-sec-page .employer-cont > ul > li {
        display: block;
        width: 100%;
    }

    .employer-sec-page .employer-cont > ul > li .img-sec img {
        width: 100%;
    }

    .company-sec .company-cont.sub-cont .slide-sec ul li {
        width: calc(33% - 17px);
        margin: 8px;
    }

    .find-more-sec .find-more-cont .img-cont {
        padding-left: 0px;
    }

    .find-more-sec .find-more-cont li {
        display: inline-block;
        width: calc(33% - 19px);
    }

    .find-more-sec .find-more-cont h2 {
        font-size: 16px;
        line-height: 32px;
    }

    .award-sec .award-cont li .img-cont h2 {
        font-size: 14px;
        line-height: 16px;
        margin-top: 20px;
    }

    .testi-sec .testi-cont li .img-sec {
        width: 100px;
        height: 100px;
        line-height: 80px;
        padding: 10px;
    }

    .testi-sec .testi-cont li .img-cont {
        margin-top: 25px;
    }

    .testi-sec .testi-cont li h3 {
        color: #fff;
        font-size: 16px;
        line-height: 22px;
    }

    .testi-sec .testi-cont li .img-cont .heading {
        font-size: 22px;
        line-height: 26px;
    }

    .testi-sec .testi-cont li .img-cont p {
        font-size: 16px;
        line-height: 22px;
    }

    .award-sec .award-cont li {
        width: calc(50% - 24px);
        margin-bottom: 25px;
    }

    .testi-sec {
        padding-bottom: 0px;
    }

    .employer-sec-page .employer-cont .heading {
        font-size: 36px;
        line-height: 42px;
    }

    .gallery-sec {
        max-width: 94%;
    }

    .testi-sec::before {
        height: 390px;
    }

    .our-location .location-cont .heading {
        font-size: 42px;
        line-height: 42px;
    }

    .our-location {
        padding: 0px 0px 80px 0px;
    }

    .our-location::after {
        height: 200px;
    }

    .company-sec.search-co .company-cont .search-sec li {
        margin-bottom: 10px;
    }

    .company-sec.search-co .company-cont .search-sec .sub-btn {
        width: 48.5%;
        margin-left: 49%;
        margin-top: 8px;
    }

    .company-sec .company-cont .slide-sec .img-cont {
        padding: 30px;
        padding-right: 20px;
    }

    .company-sec .company-cont .more {
        font-size: 13px;
        margin-top: 40px;
    }

    .company-sec.hiring .img-sec .top-arrow {
        display: none;
    }

    .company-sec.hiring #slide3 .img-sec .left-arrow {
        visibility: visible;
    }

    #company-subnav {
        top: 65px;
    }

    #vacancy-specifics .row .value-label {
        font-size: 14px !important;
        overflow: hidden;
    }

    #vacancy-specifics .row .value {
        font-size: 14px !important;
        overflow: hidden;
    }

    .play-button {
        margin-left: -125px;
        margin-top: 40px;
    }
}

@media (min-width: 320px) and (max-width: 767px) {
    .company-sec .company-cont {
        padding: 30px 0px;
    }

    .company-sec .company-cont .sub-head {
        font-size: 30px;
        line-height: 35px;
    }

    .company-sec .company-cont .slide-sec {
        padding: 9px 15px;
        margin-top: 20px;
    }

    .company-sec .company-cont p {
        font-size: 14px;
        line-height: 24px;
    }

    .company-sec .company-cont .slide-sec ul li {
        width: 100%;
        margin: 0 auto;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .company-sec .company-cont .slide-sec .img-cont {
        padding: 15px;
    }

    .company-sec::before {
        min-height: 280px;
        background-size: cover;
    }

    .company-sec .company-cont .slide-sec h6 {
        padding-bottom: 10px;
    }

    .company-sec.suggested::after {
        height: 125px;
    }

    .company-sec .company-cont .search-sec h3 {
        font-size: 30px;
        line-height: 40px;
    }

    .company-sec .company-cont .search-sec {
        padding-top: 30px;
    }

    .company-sec .company-cont .search-sec .job-title {
        width: 100%;
        height: 50px;
        line-height: 50px;
    }

    .company-sec .company-cont .slide-sec.top-box li {
        padding: 10px;
        margin-bottom: 5px;
        margin-top: 5px;
    }

    .company-sec .company-cont .slide-sec.top-box {
        padding-bottom: 9px;
    }

    .company-sec .company-cont .slide-sec .img-cont h4 {
        font-size: 17px;
        line-height: 17px;
    }

    .company-sec .company-cont .slide-sec.top-box h6 {
        padding-top: 5px;
    }

    .company-sec .company-cont .slide-sec.top-box .img-sec img {
        width: 70px;
    }

    .company-sec .company-cont .search-sec input[type="text"], .company-sec .company-cont .search-sec select {
        padding-left: 10px;
        font-size: 13px;
    }

    .company-sec .company-cont .search-sec .sub-btn {
        width: 100%;
        height: 50px;
        line-height: 45px;
    }

    .company-sec .company-cont .search-sec li {
        margin-bottom: 10px;
    }

    .company-sec .company-cont .search-sec ul {
        padding-top: 10px;
    }

    .company-sec .company-cont .search-sec input[type="submit"] {
        padding-left: 0px;
        font-size: 14px;
    }

    .company-sec .company-cont .slide-sec .img-cont h2 {
        font-size: 16px !important;
        line-height: 22px;
        min-height: inherit;
    }

    .find-more-sec .heading {
        font-size: 32px;
        line-height: 32px;
    }

    .company-sec .company-cont .slide-sec .img-cont p {
        font-size: 14px;
        line-height: 16px;
    }

    .company-sec .company-cont .slide-sec ul {
        margin: 0 auto;
    }

    .company-sec .company-cont .slide-sec .lSAction {
        display: none !important;
    }

    .employer-sec {
        height: 420px;
    }

    .sale-logo .sale-pic {
        width: 120px;
        height: 120px;
        margin-right: 20px;
    }

    .sale-logo .sale-title {
        font-size: 28px;
        line-height: 32px;
        padding-top: 40px;
    }

    .sale-logo {
        top: -90px;
    }

    .sales-force-sec .sales-force-cont ul {
        text-align: center;
    }

    .sales-force-sec {
        padding-top: 50px;
    }

    .sales-force-sec .sales-force-cont li {
        margin-bottom: 20px;
        width: 100%;
    }

    .sales-force-sec .sales-force-cont li a {
        width: 100% !important;
    }

    .employer-sec-page {
        padding: 50px 0px;
    }

    .employer-sec-page .employer-cont li .img-cont {
        padding: 20px !important;
    }

    .employer-sec-page .employer-cont .img-cont li span {
        width: 100% !important;
        display: block !important;
    }

    .employer-cont, .employer-sec-page .employer-cont > ul, .employer-sec-page .employer-cont > ul > li {
        display: block;
        width: 100%;
    }

    .employer-sec-page .employer-cont > ul > li .img-sec img {
        width: 100%;
    }

    .company-sec .company-cont.sub-cont .slide-sec ul li {
        width: 100%;
        margin: 5px auto;
    }

    .find-more-sec .find-more-cont .img-cont {
        padding-left: 0px;
    }

    .find-more-sec .find-more-cont li {
        display: block;
        width: 100%;
        margin: 0px auto;
    }

    .find-more-sec .find-more-cont ul {
        margin: 0 auto;
    }

    .find-more-sec .find-more-cont {
        margin-top: 30px;
        padding: 15px;
    }

    .find-more-sec {
        padding-bottom: 60px;
    }

    .award-sec .heading {
        font-size: 28px;
        line-height: 32px;
    }

    .award-sec {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .find-more-sec .find-more-cont h2 {
        font-size: 16px;
        line-height: 32px;
    }

    .award-sec .award-cont li .img-cont h2 {
        font-size: 14px;
        line-height: 16px;
        margin-top: 20px;
    }

    .testi-sec .testi-cont li .img-sec {
        width: 100px;
        height: 100px;
        line-height: 80px;
        padding: 10px;
        margin-top: 1px;
    }

    .testi-sec .testi-cont li .img-cont {
        margin-top: 25px;
    }

    .testi-sec .testi-cont li h3 {
        color: #fff;
        font-size: 16px;
        line-height: 22px;
        padding-left: 20px;
        padding-top: 0px;
        background-size: 15px;
    }

    .testi-sec .testi-cont li .img-cont .heading {
        font-size: 22px;
        line-height: 26px;
    }

    .testi-sec .testi-cont li .img-cont p {
        font-size: 16px;
        line-height: 22px;
    }

    .award-sec .award-cont li {
        margin: 0 auto;
        width: 100%;
        margin-bottom: 25px;
    }

    .testi-sec .testi-cont li:first-child {
        width: 100%;
    }

    .testi-sec .testi-cont li:last-child {
        width: 100%;
        margin-top: 30px;
    }

    .testi-sec {
        padding-bottom: 0px;
        min-height: 730px;
    }

    .employer-sec-page .employer-cont .heading {
        font-size: 22px;
        line-height: 36px;
    }

    .gallery-sec {
        max-width: 86%;
        padding: 15px;
    }

    .lSAction {
        display: none !important;
    }

    .our-location .location-cont .map-cont {
        min-height: 250px;
        overflow: hidden;
        padding: 0px;
        border: solid 15px #fff;
    }

    .our-location .location-cont .map-cont img {
        width: auto;
        max-width: inherit;
        height: 100%;
    }

    .testi-sec::before {
        height: 700px;
    }

    .our-location .location-cont .heading {
        font-size: 28px;
        line-height: 32px;
    }

    .our-location {
        padding: 50px 0px 80px 0px;
    }

    .our-location::after {
        height: 200px;
    }

    .company-sec.search-co .company-cont .search-sec .job-title {
        width: 100%;
    }

    .company-sec .company-cont .search-sec select {
        height: 52px;
    }

    .company-sec.search-co .company-cont .search-sec .sub-btn {
        margin-left: 0;
        width: 100%;
    }

    .company-sec.search-co .company-cont .search-sec li {
        margin-bottom: 8px;
    }

    .mobile {
        display: block;
    }

    .desktop {
        display: none;
    }

    #company-subnav {
        display: none;
    }

    .carousel-inner {
        min-height: 700px;
    }

    #vacancy-specifics .row .value-label {
        font-size: 14px !important;
        overflow: hidden;
        display: block;
        float: none !important;
        width: 100% !important;
    }

    #vacancy-specifics .row .value {
        font-size: 14px !important;
        overflow: hidden;
        display: block;
        float: none !important;
        width: 100% !important;
    }

    #vacancy-apply {
        padding: 15px;
        margin-bottom: 12px;
    }

    #vacancysearch.container {
        max-width: 98%;
    }

    .play-button {
        position: initial;
        margin: 25px 0 0 0;
    }

    #videosec .carousel-control-prev {
        top: calc(50% - 200px) !important;
    }

    #videosec .carousel-control-next {
        top: calc(50% - 200px) !important;
    }
}


.map {
    width: 100%;
    height: 430px;
    max-width: 100%;
    max-height: 430px;
}

.modal-title {
    font-weight: lighter;
    color: #212529;
    font-size: 30px;
}

.btn-secondary {
    background: #000;
    border: #000 2px solid;
}

.btn-secondary:hover {
    background: none;
    border-color: #000;
    color: #000;
}

.modal.show .modal-dialog {
    min-width: 70%;
	margin-top: 10vh;
}

.find-more-sec .find-more-cont li {
    height: 350px;
}

.embed-container {
    position: relative !important;
    padding-bottom: 56.25% !important;
    overflow: hidden !important;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    bottom: 0 !important;
    width: 100% !important;
    height: 100% !important;
}


.close {
    color: #fff;
}

.close:hover {
    color: #fff;
}

.slick-slide {
    margin-right: 20px;
}

video {
	z-index: 0;
	position: absolute;
	top: 0;
	left: 0;
	min-width: 100%;
	min-height: 100%;
}

.about-bottom {
	z-index: 9;
	position: inherit;
}

.gallery-title-sec {
	background: #e9ebf3;
	margin-top: 0px;
   padding-bottom: 140px;
}

.gallery-title-sec .heading {
	padding-top: 50px;
	color: #000;
	font-weight: 700;
	font-size: 60px;
	line-height: 56px;
	text-align: center;
	text-transform: lowercase;
}

.testi-sec {
	min-height: 530px !important;
}

@media (min-width:1280px) and (max-width: 1599px) {
	.testi-sec {
		min-height: 547px;
	}
}

.find-more-sec .heading {
	padding-top: 50px;
}
