.timesheet_table {
    width: 100%;
}

.timesheet_table td {
    padding: 5px;
}

/**/
.gdpr a {
	color: #cd1761;
}
.nomargintop {
    margin-top: 0px !important;
}

.vacancy-page-info {
    margin: 0 auto;
    width: 100%;
    height: auto;
    position: relative;
	margin-bottom: 100px; margin-top: 30px; 
}

.vacancy-information {
    overflow: hidden;
}

.vacancy-page-info .container {
    padding-bottom: 0px;
}

.vacancy-page-info .left-col .other-cont {
    background: #ffffff;
    padding-bottom: 20px;
    height: 480px;
    margin-bottom: 15px;
    opacity: 0.9;
    transition: all .2s ease-in-out;
}

.vacancy-page-info .left-col .other-cont:hover {
    opacity: 1;
}

.vacancy-page-info .left-col .other-cont .main-img {
    margin: 0 auto;
    width: 100%;
    height: 160px;
}

.vacancy-page-info .left-col .other-cont .main-img img {
    width: 100%;
    height: auto;
}

.vacancy-page-info .left-col .other-cont .other-contents {
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 225px;
    padding: 20px 40px 0px;
}

.vacancy-page-info .left-col .other-cont .other-contents h3 {
    font-size: 22px;
    color: #000000;
    margin: 0px;
    font-weight: 700;
    padding: 22px 0px 15px;
    margin-bottom: 10px;
}

.vacancy-page-info .left-col .other-cont .other-contents h4 {
    font-size: 16px;
    color: #777777;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: -10px;
    font-style: italic;
}

.vacancy-page-info .left-col .other-cont .other-contents p {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0px;
    font-weight: 300;
    margin-top: 20px;
}

.vacancy-page-info .left-col .other-cont ul {
    padding: 0px 40px;
    margin: 0px;
}

.vacancy-page-info .left-col .other-cont li {
    width: 100%;
    padding: 0px;
    font-size: 18px;
    text-align: center;
}

.vacancy-page-info .left-col .other-cont li a {
    color: #3f4048;
    text-decoration: underline;
}

.vacancy-info .left-col .other-cont li a:hover {
    text-decoration: none;
    background: #000000;
}

.vacancy-page-info .left-col .other-cont li a {
    background: #fab549;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000000;
    text-decoration: none;
    margin-top: 20px;
    transition: all .2s ease-in-out;
}

.vacancy-page-info .other-cont .label {
    float: left;
    width: 30%;
    color: #000000;
    text-align: left;
    padding: 0px;
    font-size: 17px;
    font-weight: 400;
    margin-bottom: 5px;
    line-height: 1.42857143;
}

.vacancy-page-info .other-cont .value {
    float: left;
    width: 70%;
    color: #666666;
    margin-bottom: 5px;
    font-size: 17px;
}

.vacancy-page-info .left-col h2 {
    margin-bottom: 00px;
    font-size: 25px;
    background: #000;
    color: #ffffff;
    padding: 15px;
    box-sizing: border-box;
    margin-top: 0px;
}

.vacancy-page-info .vacancycta i {
    font-size: 30px;
    margin-bottom: 10px;
}

.vacancy-page-info .right-col .back-button {
    display: block;
    background: #333333;
    color: #ffffff;
    text-align: center;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 17px;
    float: left;
    transition: all .2s ease-in-out;
    margin-bottom: -26px;
    border-bottom: #000000 5px solid;
    box-sizing: border-box;
}

.vacancy-page-info .right-col .back-button:hover {
    background: #000000;
    margin-top: -10px;
    padding-top: 25px;
}

.vacancy-page-info .right-col .apply-button {
    display: block;
    background: #3eb42b;
    color: #ffffff;
    text-align: center;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 17px;
    float: left;
    transition: all .2s ease-in-out;
    margin-bottom: -26px;
    border-bottom: #2a9019 5px solid;
    box-sizing: border-box;
}

.vacancy-page-info .right-col .apply-button:hover {
    background: #2a9019;
    margin-top: -10px;
    padding-top: 25px;
}

.vacancy-page-info .right-col .apply-li-button {
    display: block;
    background: #0077b5;
    color: #ffffff;
    text-align: center;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 17px;
    float: left;
    transition: all .2s ease-in-out;
    margin-bottom: -26px;
    border-bottom: #01669b 5px solid;
    box-sizing: border-box;
}

.vacancy-page-info .right-col .apply-li-button:hover {
    background: #01669b;
    margin-top: -10px;
    padding-top: 25px;
}

.vacancy-page-info .right-col .shortlist-button {
    display: block;
    background: #f78021;
    color: #ffffff;
    text-align: center;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 17px;
    float: left;
    transition: all .2s ease-in-out;
    margin-bottom: -26px;
    border-bottom: #df6f15 5px solid;
    box-sizing: border-box;
}

.vacancy-page-info .right-col .shortlist-button:hover {
    background: #df6f15;
    margin-top: -10px;
    padding-top: 25px;
}

.vacancy-page-info .right-col .deshortlist-button {
    display: block;
    background: #d33010;
    color: #ffffff;
    text-align: center;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 17px;
    float: left;
    transition: all .2s ease-in-out;
    margin-bottom: -26px;
    border-bottom: #ac2409 5px solid;
    box-sizing: border-box;
}

.vacancy-page-info .right-col .deshortlist-button:hover {
    background: #ac2409;
    margin-top: -10px;
    padding-top: 25px;
}

.vacancy-page-info .right-col .email-vacancy-button {
    display: block;
    background: #fac200;
    color: #000000;
    text-align: center;
    width: 20%;
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: 300;
    font-size: 17px;
    float: left;
    transition: all .2s ease-in-out;
    margin-bottom: -26px;
    border-bottom: #cb9e00 5px solid;
    box-sizing: border-box;
}

.vacancy-page-info .right-col .email-vacancy-button:hover {
    background: #fbcd2e;
    margin-top: -10px;
    padding-top: 25px;
}

.vacancy-page-info .right-col #vacancy-information {
    background: #f9f9f9;
    padding: 40px;
    box-sizing: border-box;
    margin-top: 26px;
}

.vacancy-page-info .right-col #vacancy-information h1 {
    margin-top: 0px;
    margin-bottom: 30px;
	font-size: 30px;
}

.vacancy-page-info .right-col #vacancy-information h4 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #666666;
    font-style: italic;
}

.vacancy-page-info .right-col #vacancy-information h3 {
    line-height: 35px;
}

.vacancy-page-info .right-col #vacancy-information p {
    font-size: 18px;
    color: #333333;
    line-height: 30px;
    font-weight: 300;
    text-align: left;
}

.vacancy-page-info .right-col #vacancy-information li {
    font-size: 18px;
    color: #333333;
    line-height: 30px;
    font-weight: 300;
    text-align: justify;
    margin-left: 0px;
    margin-bottom: 10px !important;
}

.vacancy-page-info .right-col #vacancy-information li i { color: green; }

.vacancy-page-info .right-col #vacancy-information li:before {
    color: #f77a1d;
    /* color of bullet or square */

    content: "\2022";
    /* Unicode of character to precede the list item */

    font-size: 1em;
    /* em or %*/

    padding-right: 1.1225em;
    /* use em*/

    position: relative;
    top: 0em;
    /* use em or % */
}

.vacancy-page-info #vacancy-specifics {
    margin-bottom: 30px;
    box-sizing: border-box;
    border-bottom: 0px;
}

.vacancy-page-info #vacancy-specifics .row {
    margin-left: 0px;
    padding: 10px;
    background: #f6f6f6;
    border-bottom: #cccccc 1px dotted;
    box-sizing: border-box;
    margin-right: 0px;
}

.vacancy-page-info #vacancy-specifics .row:nth-child(2n) {
    background: none;
}

.vacancy-page-info #vacancy-specifics .row .value-label {
    width: 25%;
    float: left;
    text-align: left;
    color: #101364;
    font-size: 22px;
    font-weight: 400;
}

.vacancy-page-info #vacancy-specifics .row .value {
    width: 50%;
    float: left;
    text-align: left;
    font-size: 22px;
    color: #333333;
    font-weight: 300;
}

.vacancy-page-info .other-contacts {
    margin-top: 0px;
    padding-top: 0px;
}

.vacancy-page-info #feefo-widget {
    margin-top: 0px;
    padding-top: 0px;
    overflow: auto;
    height: 280px !important;
    padding-left: 0px;
    padding-right: 0px;
}

.feefowidget-header-image {
    display: none !important;
}

.feefowidget-share-button {
    border: none !important;
}

#feefo-widget button {
    border: none;
    width: auto !important;
    padding-left: 10px;
    padding-right: 10px;
    height: auto !important;
}

#vacancy-information .shortlisted {
    background: #0fbf3d;
    color: #ffffff;
    padding: 10px;
    width: 146px;
    text-align: center;
    margin-top: -40px;
    float: right;
    margin-right: -40px;
    border-bottom-left-radius: 10px;
    text-shadow: #0b912e 1px 1px 1px;
    box-shadow: inset #0b912e 0px 0px 10px;
}

.consultant-details {
    margin-top: 10px;
    padding: 20px;
    background: #f6f6f6;
    border: #cccccc 1px dotted;
}

.consultant-details h2 {
    margin-top: 0px;
    font-size: 25px;
}

.consultant-details h1 {
    margin-top: 0px;
    font-size: 25px;
    color: #000000;
    margin-bottom: 20px !important;
}

.consultant-details img {
    float: left;
    margin-right: 20px;
}

.consultant-details .img {
    width: 150px;
    height: 150px;
    float: left;
    margin-right: 20px;
}

.consultant-details .consultant-info-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.consultant-details a {
    font-size: 30px;
    margin-top: 5px;
}

#consultant-header {
    margin-top: 30px !important;
    margin-bottom: 10px !important;
    font-size: 30px;
}

/**/

.saved-vacancy {
    padding: 20px;
    box-sizing: border-box;
    background: #f9f9f9;
    border-bottom: 1px #ffffff solid;
    color: #2d3092;
}

.saved-vacancy:hover {
    background: #f3f3f3;
}

.saved-vacancy .title {
    font-size: 20px;
}

.saved-vacancy .remove {
    display: block;
    float: right;
    border: #cccccc 1px solid;
    color: #000000;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    transition: all .2s ease-in-out;
    margin-top: -4px;
}

.saved-vacancy .remove:hover {
    background: #c11919;
    color: #ffffff;
    border-color: #a00b0b;
}

.saved-vacancy .info {
    display: block;
    float: right;
    border: #cccccc 1px solid;
    color: #000000;
    width: 35px;
    height: 35px;
    text-align: center;
    padding-top: 7px;
    margin-right: 5px;
    transition: all .2s ease-in-out;
    margin-top: -4px;
}

.saved-vacancy .info:hover {
    background: #2d3092;
    color: #ffffff;
    border-color: #16186a;
}

.applyforall {
    float: right;
    display: block;
    background: #0fbf3d;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    transition: all .2s ease-in-out;
}

.applyforall:hover {
    background: #039429;
    color: #ffffff;
}

.applyforall-li {
    float: right;
    display: block;
    background: #007bb6;
    width: 150px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #ffffff;
    transition: all .2s ease-in-out;
    margin-left: 10px;
}

.applyforall-li:hover {
    background: #006291;
    color: #ffffff;
}

.apply-login input[type=text] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    font-size: 18px;
}

.apply-login input[type=password] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
}

.apply-login label {
    font-size: 20px;
    margin-bottom: 10px;
    display: block;
    font-weight: 400;
}

.form_column {
    width: 48.75%;
    float: left;
    margin-right: 2.5%;
}

.form_column:nth-child(2n) {
    margin-right: 0px;
}

.form_column_full {
    width: 100%;
    float: none;
    clear: both;
}

.form_column input[type=tel],
.form_column input[type=email],
.form_column input[type=text] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    font-size: 18px;
}

.form_column input[type=password] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    font-size: 18px;
}

.form_column_full input[type=submit] {
    display: block;
    width: 100%;
    background: #cd1761;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 30px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-in-out;
	border: 0px;
}

.form_column_full input[type=submit]:hover {
    background: #000000;color: #fff;
}

#login .left-col .other-cont input[type=submit] {
    background: #cd1761;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: #fff;
    transition: all .2s ease-in-out;
    border: none;
}

#login .left-col .other-cont input[type=submit]:hover {
	background: #000;color:#fff;
}

.form_column_full .drop_uploader.drop_zone .text_wrapper {
    width: 100%;
    float: left;
}

.form_column_full .drop_uploader.drop_zone {
    height: 100px;
}

.form_column_full .drop_uploader.drop_zone span.bfile {
    background: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    float: right;
    display: block;
    text-align: right;
}

.form_column_full .drop_uploader.drop_zone ul.files.thumb li div.thumbnail {
    background: none;
    margin-right: 0px;
    height: 45px;
    width: 30px;
    margin-right: 5px;
    float: left;
}

.form_column_full .drop_uploader.drop_zone ul.files.thumb li div.thumbnail i {
    font-size: 25px;
    color: #000000;
    margin-right: 20px;
}

.form_column_full .drop_uploader.drop_zone ul.files.thumb li span.title {
    font-size: 20px;
    color: #000000;
    margin-left: 0px;
    display: block;
    float: left;
    width: 70%;
}

.form_column_full .drop_uploader.drop_zone ul.files.thumb li {
    float: left;
    font-size: 18px !important;
    padding-left: 0px;
    margin-top: 10px;
    height: 50px;
}

.form_column_full .drop_uploader.drop_zone ul.files.thumb {
    width: 50%;
    float: left;
    padding-left: 0px;
    text-align: left;
    height: 50px;
}

.form_column_full .drop_uploader.drop_zone .text_wrapper {
    border-color: #d36710;
}

.form_column_full .drop_uploader.drop_zone ul.files li i {
    margin-left: 0px !important;
}

#login .right-col #vacancy-information li:before {
    display: none;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #999999;
}

::-moz-placeholder { /* Firefox 19+ */
    color: #999999;
}

:-ms-input-placeholder { /* IE 10+ */
    color: #999999;
}

:-moz-placeholder { /* Firefox 18- */
    color: #999999;
}

.apply-form {
    padding-bottom: 30px;
}

.apply-form h1 {
    margin-bottom: 10px !important;
}

.apply-form h2 {
    color: #777777;
    font-size: 22px;
    margin-bottom: 15px;
    line-height: 30px;
}

#login .left-col .apply-login {
    background: #ffffff;
    padding-bottom: 30px;
    height: 400px !important;
    margin-bottom: 15px;
    opacity: 0.9;
    transition: all .2s ease-in-out;
}

#login .left-col .other-cont:hover {
    opacity: 1;
}

#login .left-col .other-cont .main-img {
    margin: 0 auto;
    width: 100%;
    height: 160px;
}

#login .left-col .other-cont .main-img img {
    width: 100%;
    height: auto;
}

#login .left-col .other-cont .other-contents {
    margin: 0 auto;
    width: 100%;
    height: auto;
    min-height: 225px;
    padding: 45px 40px 40px;
	background: #f9f9f9;
}

#login .left-col .other-cont .other-contents h3 {
    font-size: 22px;
    color: #000000;
    margin: 0px;
    font-weight: 700;
    padding: 22px 0px 15px;
    margin-bottom: 10px;
}

#login .left-col .other-cont .other-contents h4 {
    font-size: 16px;
    color: #777777;
    margin: 0px;
    font-weight: 400;
    margin-bottom: 10px;
    margin-top: -10px;
    font-style: italic;
}

#login .left-col .other-cont .other-contents p {
    font-size: 18px;
    line-height: 24px;
    color: #000000;
    margin: 0px;
    font-weight: 300;
    margin-top: 20px;
}

#login .left-col .other-cont ul {
    padding: 0px 40px;
    margin: 0px;
}

#login .left-col .other-cont li {
    width: 100%;
    padding: 0px;
    font-size: 18px;
    text-align: center;
}

#login .left-col .other-cont li a {
    color: #3f4048;
    text-decoration: underline;
}

#login .left-col .other-cont li a:hover {
    text-decoration: none;
    background: #000000;
}

#login .left-col .other-cont li a {
    background: #fab549;
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding-top: 15px;
    padding-bottom: 15px;
    color: #000000;
    text-decoration: none;
    margin-top: 0px;
    transition: all .2s ease-in-out;
}

#login .left-col .other-cont ul {
    width: 100%;
    padding: 0px;
}

#login .left-col .other-cont li a:hover {
    background: #000000 !important;
    color: #ffffff;
}

#login .left-col .other-cont .register {
    padding-top: 10px;
}

#login .gdpr {
    font-size: 15px;
    font-weight: 400;
}

#login .gdpr input[type=checkbox] {
    margin-top: -2px;
}

.single-col {
    background: #ffffff;
    padding: 40px;
}

.single-col h1 {
    margin-top: 0px;
}

.single-col h2 {
    color: #666666;
    font-size: 25px;
    font-weight: 400;
}

.thankyou {
    border-top: #58be35 10px solid;
}

.thankyou-back {
    width: 250px;
    padding-top: 15px;
    padding-bottom: 15px;
    background: #2d3092;
    color: #ffffff;
    margin-top: 30px;
    display: block;
    text-align: center;
    font-size: 18px;
    transition: all .2s ease-in-out;
}

.thankyou-back:hover {
    background: #000000;
    color: #ffffff;
}

/**/

.profile_column {
    width: 48.75%;
    float: left;
    margin-right: 2.5%;
}

.profile_column_full {
    width: 100%;
    float: left;
}

.profile_column input[type=email],
.profile_column input[type=tel],
.profile_column input[type=text] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    background: #f9f9f9;
    font-size: 18px;
}

.profile_column input[type=password] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    font-size: 18px;
}

.profile_column_full input[type=text] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    background: #f9f9f9;
    font-size: 18px;
}

.profile_column_full input[type=password] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    font-size: 18px;
}

.candidate-profile input[type=submit] {
    display: block;
    width: 100%;
    background: #2e3192;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: #ffffff;
    transition: all .2s ease-in-out;
    border: none;
}

.candidate-profile input[type=submit]:hover {
    background: #000000;
}

.right {
    margin-right: 0px !important;
}

.info_label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 17px;
    color: #666666;
}

.candidate-profile {
    padding-bottom: 50px;
}

.candidate-profile h1 {
    color: #000000;
}

.candidate-profile h2 {
    margin-top: 30px;
    font-weight: 300;
    color: #181a6f;
}

.candidate-profile .drop_uploader.drop_zone .text_wrapper {
    width: 100%;
    float: left;
}

.candidate-profile .drop_uploader.drop_zone {
    height: 100px;
}

.candidate-profile .drop_uploader.drop_zone span.bfile {
    background: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    float: right;
    display: block;
    text-align: right;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb li div.thumbnail {
    background: none;
    margin-right: 0px;
    height: 45px;
    width: 30px;
    margin-right: 5px;
    float: left;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb li div.thumbnail i {
    font-size: 25px;
    color: #000000;
    margin-right: 20px;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb li span.title {
    font-size: 20px;
    color: #000000;
    margin-left: 0px;
    display: block;
    float: left;
    width: 70%;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb li {
    float: left;
    font-size: 18px !important;
    padding-left: 0px;
    margin-top: 10px;
    height: 50px;
    list-style: none;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb {
    width: 50%;
    float: left;
    padding-left: 0px;
    text-align: left;
    height: 50px;
}

.candidate-profile .drop_uploader.drop_zone .text_wrapper {
    border-color: #d36710;
}

.candidate-profile .drop_uploader.drop_zone ul.files li i {
    margin-left: 0px !important;
}

.candidate-profile .drop_uploader.drop_zone ul.files li:before {
    display: none;
}

.candidate-profile .photo {
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #f6f6f6 3px solid;
    background-position: center;
}

.candidate-profile .photo a {
    margin-top: 70px;
    margin-left: 40px;
    display: block;
    color: #ffffff;
}

.candidate-profile .left-col .suggested {
    display: block;
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 1px;
    font-size: 15px;
    transition: all .2s ease-in-out;
}

.candidate-profile .left-col .suggested:nth-child(odd) {
    background: #ffffff;
}

.candidate-profile .left-col .suggested:hover {
    background: #cccccc;
    color: #000000;
}

.candidate-profile .left-col .other-cont {
    height: auto;
}

.candidate-profile #photo-upload {
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    display: none;
}

.candidate-profile #photo-upload .drop_uploader.drop_zone ul.files.thumb li div.thumbnail {
    margin-top: -10px;
    height: 35px;
    background-size: cover;
    background-position: center;
}

.candidate-profile #photo-upload .drop_uploader.drop_zone ul.files.thumb li span.title {
    display: none;
}

.download-cv {
    float: right;
    margin-top: 40px;
    display: block;
}

.candidate-profile .ja-sector {
    float: left;
    padding: 5px;
    border: #f1f1f1 1px solid;
    margin-right: 5px;
    margin-bottom: 5px;
}

.candidate-profile .ja-sector label {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 0px;
}

.candidate-profile .ja-sector input[type=checkbox] {
    margin-right: 5px;
}

.profile_column {
    width: 48.75%;
    float: left;
    margin-right: 2.5%;
}

.profile_column_full {
    width: 100%;
    float: left;
}

.profile_column input[type=email],
.profile_column input[type=tel],
.profile_column input[type=text] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    background: #fff;
    font-size: 18px;
}

.profile_column input[type=password] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    font-size: 18px;
}

.profile_column_full input[type=text] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    background: #f9f9f9;
    font-size: 18px;
}

.profile_column_full input[type=password] {
    display: block;
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    font-weight: 400;
    border: #cccccc 1px solid;
    font-size: 18px;
}

.candidate-profile input[type=submit] {
    display: block;
    width: 100%;
    background: #cd1761;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: 10px;
    font-size: 20px;
    color: #000;
    transition: all .2s ease-in-out;
    border: none;
}

.candidate-profile input[type=submit]:hover {
    background: #000000;color: #fff;
}

.right {
    margin-right: 0px !important;
}

.info_label {
    margin-bottom: 5px;
    font-weight: 400;
    font-size: 15px;
    color: #666666;
}

.candidate-profile {
    padding-bottom: 0px;
}

.candidate-profile h1 {
    color: #000000;
}

.candidate-profile h2 {
    margin-top: 30px;
    font-weight: 300;
    color: #cd1761;
	font-size: 25px;
}

.candidate-profile .drop_uploader.drop_zone .text_wrapper {
    width: 100%;
    float: left;
}

.candidate-profile .drop_uploader.drop_zone {
    height: 100px;
}

.candidate-profile .drop_uploader.drop_zone span.bfile {
    background: #ffffff;
    text-decoration: none;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 5px;
    float: right;
    display: block;
    text-align: right;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb li div.thumbnail {
    background: none;
    margin-right: 0px;
    height: 45px;
    width: 30px;
    margin-right: 5px;
    float: left;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb li div.thumbnail i {
    font-size: 25px;
    color: #000000;
    margin-right: 20px;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb li span.title {
    font-size: 20px;
    color: #000000;
    margin-left: 0px;
    display: block;
    float: left;
    width: 70%;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb li {
    float: left;
    font-size: 18px !important;
    padding-left: 0px;
    margin-top: 10px;
    height: 50px;
    list-style: none;
}

.candidate-profile .drop_uploader.drop_zone ul.files.thumb {
    width: 50%;
    float: left;
    padding-left: 0px;
    text-align: left;
    height: 50px;
}

.candidate-profile .drop_uploader.drop_zone .text_wrapper {
    border-color: #d36710;
}

.candidate-profile .drop_uploader.drop_zone ul.files li i {
    margin-left: 0px !important;
}

.candidate-profile .drop_uploader.drop_zone ul.files li:before {
    display: none;
}

.candidate-profile .photo {
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: #f6f6f6 3px solid;
    background-position: center;
}

.candidate-profile .photo a {
    margin-top: 70px;
    margin-left: 40px;
    display: block;
    color: #ffffff;
}

.candidate-profile .left-col .suggested {
    display: block;
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 1px;
    font-size: 15px;
    transition: all .2s ease-in-out;
	color: #000;
}

.candidate-profile .left-col .suggested:nth-child(odd) {
    background: #ffffff;
}

.candidate-profile .left-col .suggested:hover {
    background: #cccccc;
    color: #000000;
}

.candidate-profile .left-col .other-cont {
    height: auto;
	background: #f9f9f9;
}

.candidate-profile #photo-upload {
    width: 30%;
    float: right;
    margin-top: 10px;
    margin-right: 20px;
    display: none;
}

.candidate-profile #photo-upload .drop_uploader.drop_zone ul.files.thumb li div.thumbnail {
    margin-top: -10px;
    height: 35px;
    background-size: cover;
    background-position: center;
}

.candidate-profile #photo-upload .drop_uploader.drop_zone ul.files.thumb li span.title {
    display: none;
}

.download-cv {
    float: right;
    margin-top: 40px;
    display: block;
}

.candidate-profile .ja-sector {
    float: left;
    padding: 5px;
    border: #f1f1f1 1px solid;
    margin-right: 5px;
    margin-bottom: 5px;
}

.candidate-profile .ja-sector label {
    font-weight: normal;
    font-size: 15px;
    margin-bottom: 0px;
}

.candidate-profile .ja-sector input[type=checkbox] {
    margin-right: 5px;
}

/* END CANDIDATE PORTAL STYLING */

.jobBagCount {
    font-size: 12px;
    font-weight: bold;
    margin-left: 5px;
}

.green-success {
    color: #549634 !important;
}

.confirm-bar {
    background: #17b748;
    color: #ffffff;
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.error-bar {
    background: #eb3158;
    color: #ffffff;
    padding: 10px;
    text-align: center;
}



.gdprconfirm {
    font-size: 13px;
    text-align: left !important;
    margin-top: 20px;
    margin-bottom: 10px;
    display: block;
    color: #ffffff;
    font-weight: 400;
}

.gdprconfirm a {
    color: #000000;
    text-decoration: none;
}

.file_extensions {
    font-size: 14px;
    text-align: left;
    margin-bottom: 15px;
    color: #ffffff;
    margin-top: 20px;
}

.cv-upload-box {
    display: none;
}

.vacancy-upload-box {
    display: none;
}

#myCarousel .item {
    background: none !important;
}