@media (min-width: 768px){
    .loc-part .locations {
        width: 120px;
    }
    .loc-part .locations {
        top: -5px;
        left: -300px;
    }
	
    .loc-part .telephone a {
        font-size: 30px;
        position: absolute;
        width: 400px;
        right: 0;
        top: -43px;
    }
    .basic-nav {
        top: 0px;
    }
    .basic-nav nav ul li a {
        font-size: 20px;
    }
    .heading-text .subheading {
        font-size: 60px;
		text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
    }
    .heading-text .heading {
        font-size: 50px;
		text-shadow: 0px 0px 20px rgba(0,0,0,0.3);
		height: 85px;
    }
    .text-content {
        margin: 5px 0 40px 0;
    }
    .site-links .container dl {
        width: 100%;
    }
    .cv-modal-dialog {
        width: 800px;
        margin: 12% auto;
    }
    .cv-modal-dialog2 {
        width: 600px;
    }
    .container.wide {
        width: 750px;
    }
    .icon-label-text {
        padding-left: 5px;
        padding-right: 5px;
    }
    .icon-label-text p {
        position: absolute;
        opacity: 0;
    }
    .icon-label-text:hover img {
        transform: scale(.8);
        top: -80px;
        opacity: .5;
    }
    .icon-label-text:hover span.labels {
        transform: scale(.8);
        top: -85px;
    }
    .image-content {
        /* margin: 40px 0 40px 0; */
    }
    .team-profile {
        text-align: left;
    }
    .team-profile .profile-img {
        max-width: 120px;
        float: left;
        margin-bottom: 10px;
    }
    .team-profile .details {
        position: relative;
        top: 10px;
        left: 20px;
        float: left;
    }
    .grid-content-with-intro .col-sm-6 .text-content {
        height: 400px;
        padding: 0 20px;
    }
    .quick-job .job-actions {
        display: block;
    }
    .job-actions {
        display: none;
    }
    .quick-quote blockquote q {
        font-size: 14px;
        padding: 30px 6px 6px 6px;
    }
    .quick-quote blockquote span.author {
        margin-left: 0;
    }
    .pagination {
        text-align: left;
        width: auto;
    }
    .pagination ul li {
        display: inline-block;
    }
    .overlay .open .footer-pop-up {
    	position: relative;
    	bottom: 0;
    	margin-top: 30px;
    }
	#about-img {
		height: 500px;
	}
}
@media (min-width: 992px) {
    .video {
        min-height: 100vh;
    }
.text-content {

    }

    .text-image .col-md-6:nth-child(even) .image-content {
        padding-left: 80px;
    }
    .container.wide {
        width: 970px;
    }
    .content .col-md-6:nth-child(even) .image-content {
        padding-left: 30px;
    }
    .team-profile .profile-img {
        max-width: 120px;
        float: none;
        margin-bottom: 10px;
    }
    .team-profile .details {
        text-align: center;
        width: 100%;
        left: 0;
    }
    .content .col-md-6:nth-child(odd) .text-content {
        padding-right: 30px;
    }
    .job .btn.btn-ghost-primary {
        padding: 10px 25px;
    }
	#about-img {
		height: 500px;
	}
	
}
@media (min-width: 480px) {

    .heading-text {
     text-align:left;  
    }
    .search-bar {
        width: 400px;
        margin: 10px 10px 0 0;
        float: left;
    }
    .i-btn {
        float: left;
        margin: 10px 0 0 0;
        top: 0;
    }
    .upload-cv-btn {
        float: left;
        margin: 10px 0 0 0;
        top:0;
    }
	#about-img {
		height: 500px;
	}
	
}
@media (min-width: 400px) {
    .side-off-navigation .search-bar {
        width: 280px;
    }
	#about-img {
		height: 500px;
	}
	
}
@media (min-width: 1024px) {
    .site-links .container dl {
        width: 100%;
    }
    .team-profile {
            text-align: center;
        }
    .team-profile .profile-img {
        max-width: 300px;
        float: none;
        margin-bottom: 20px;
        height: auto;
    }
    .team-profile .details {
        position: relative;
        top: 0;
        left: 0;
        float: none;
    }
    .grid-content-with-intro .col-sm-6 .text-content {
        height: 400px;
        padding: 0 70px;
    }
    .quick-job .job-actions {
        display: block;
    }
    .job-actions {
        display: block;
    }
    .job .btn.btn-ghost-primary {
        padding: 10px 35px;
    }
    .quick-quote blockquote q {
        font-size: 20px;
        padding: 6px 30px;
    }
    .quick-quote blockquote span.author {
        margin-left: 30px;
    }
}
@media (min-width: 1200px) {
    .container.wide {
        width: 100%;
        max-width: 90%;
    }
}
@media (max-width: 1048px){
    .slick-prev, .slick-next {
        top: -3% !important;
    }
	.heading-text .heading { text-align: center; }
}

@media (max-width: 1300px){
    .loc-part {
        margin-right: 50px;
    }
	.heading-text .heading { text-align: center; }
}

@media (max-width: 768px){
    .basic-nav {
        top: 0;
    }
	
	.hidediv {
		display: none;
	}
	
	.banner .search-element { width: 100%; padding-bottom: 30px;}
	.search-bar { width: 100%; }
	.i-btn, .i-btn.start-hiring { width: 100%; margin:auto; margin-top: 20px; }
	.heading-text { text-align: center; }
	.heading-text .heading { text-align: center; }
	.slick-slider { display: table; table-layout: fixed; width: 100%; }
	.search-bar.active .search-submit { left: 86% !important; }
	.heading-text .heading { text-align: center; }
}
@media (max-width: 640px){
    .slick-slider { display: table; table-layout: fixed; width: 100%; }
	
    .see-more{
        margin-top: 40px;
        text-align: left;
        padding-left: 15px;
    }
    .giving-back {
        margin-top: 40px;
        margin-bottom: -40px;
    }
    .spacing{
        display: none;
    }
	#about-img {
		height: 500px;
	}
	#vacancy-specifics .row .value-label {
		width: 100% !important;
		margin-bottom: 10px;
	}
}
@media (max-width: 587px){
    .slick-next:before{
        right: -30px;
    }
    .slick-prev:before{
        right: 35px;
    }
	#about-img {
		height: 500px;
	}
	
}
@media (max-width: 550px){
    .slick-next:before{
        display: none;
    }
    .slick-prev:before{
        display: none;
    }
	#about-img {
		height: 500px;
	}
	
}
@media (max-width: 480px){
    .slider-inner-block2:after{
        background: #fff;
    }
	#about-img {
		height: 500px;
	}
	
}

@media screen and (max-width: 1024px){
        .navbar-pop-up .primary {
            margin-left: 10px;
        }
    }

@media screen and (max-width: 997px){
	.overlay {
		overflow: auto;
	}
	.overlay.open .footer-pop-up {
		position: relative;
	}
	#about-img {
		height: 330px;
	}
	
}

@media screen and (max-width: 769px){
	.navbar-pop-up .users-block {
		display: flex;
        justify-content: center;
        width: 100%;
        margin: 40px 0;
	}
    .navbar-pop-up .logo {
        float:right;
    }
    .navbar-pop-up .text-close {
        margin-left: 0px;    
    }

    .menu-container {
		display: block;
	}
}

@media screen and (max-width: 448px){
    .navbar-pop-up .users-block {
        display: block;
    }
}

@media screen and (max-width: 1324px){
	.navbar-pop-up .users-block a {
		margin-right: 5px;
	}
}
