html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    overflow-x: visible;
    overflow-y: visible;
}
body {
	margin: 0 !important;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
}
/*div { overflow: hidden; }*/
.h3, h3 {
    font-size: 24px;
}
a:hover {
    color: #93c01f;
}
a:focus, a:hover {
    color: #93c01f;
    text-decoration: underline;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: inherit;
}
.rte h2, .rte h3, .rte h4, .rte h5, .rte h6 {
    margin: 30px 0;
	font-weight: 600;
	line-height: 50px;
	margin-bottom: 0px;
}
h3.heading {
	text-align: center;
}
.heading-text {
font-family: 'Titillium Web', sans-serif;
font-weight: 600;
}
.clearfix { clear: both; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
ul, ol, p {
    font-family: "Rubik",sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 30px;
}

.main-content .text-content ol, ul, li {
    list-style: disc !important;
    padding-left: 15px;
}

.burger-pop_up ul, .burger-pop_up ul li {
    list-style: none !important;
    padding-left: 0;
}



ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
body {
    line-height: 1;
    background-color:#fff;
    font-family: "Rubik", 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.top-header{
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 2;
	background-color:#fff;
   /* background: rgba(119,130,48,0);*/
    padding-top: 25px;
	padding-bottom: 25px;
}
.header{
    background: url(../images/homepage-poster.jpg) no-repeat center center;
    background-size: auto auto;
    width: 100%;
    padding-top: 240px;
    padding-bottom: 300px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
}
/*@font-face {*/
    /*font-family: 'Rubik';*/
    /*src: url('../fonts/Rubik-Regular/Rubik-Regular.eot'); !* IE9 Compat Modes *!*/
    /*src: url('../fonts/Rubik-Regular/Rubik-Regular.woff') format('woff'), !* Pretty Modern Browsers *!*/
    /*url('../fonts/Rubik-Regular/Rubik-Regular.ttf')  format('truetype'), !* Safari, Android, iOS *!*/
    /*url('../fonts/Rubik-Regular/Rubik-Regular.svg#Rubik-Regular') format('svg'); !* Legacy iOS *!*/
/*}*/
.loc-part .locations a:first-child {
    border-bottom: 1px solid #fff;
}
.loc-part .locations a {
    color: rgba(255,255,255,.5);
    display: block;
    padding: 5px 0;
}
.loc-part .locations {
    font-size: 14px;
    text-align: center;
    width: 60px;
    margin-right: 8px;
    left: -130px;
    z-index: 2;
    display: inline-block;
    top: 14px;
    position: relative;
}
.loc-part .locations a.current {
    color: #fff;
}
.loc-part .locations a:hover {
    color: #fff;
}
.loc-part .telephone {
    text-align: right;
    display: inline-block;
    position: relative;
	margin-top: 80px;
}
.loc-part .telephone a {
    font-size: 15px;
    font-weight: 200;
    position: absolute;
    width: 160px;
    right: 0;
    top: -20px;
    color: #fff;
}
.loc-part .telephone a strong { font-weight: 500; }
.basic-nav {
    text-align: right;
    top: 38px;
    position: relative;
}
.basic-nav nav {
    display: inline-block;
    position: relative;
    top: -14px;
}
.basic-nav nav ul li a {
    color: #fff;
    font-size: 15px;
    font-weight: 300;
    margin: 0 8px;
}
.basic-nav .site-buttons {
    display: inline-block;
}
.basic-nav .site-buttons a {
    width: 45px;
    height: 45px;
    background: #cd1761;
    border-radius: 10px;
    display: block;
    float: left;
    margin-left: 8px;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;
    color: #fff;
    position: relative;
}
.basic-nav .site-buttons a i {
    position: relative;
    top: 11px;
    font-size: 20px;
    text-align: center;
    display: block;
}

.basic-nav .site-nav {
    display: inline-block;
	margin-top: 20px;
}
.basic-nav .site-nav a {
    border-radius: 10px;
    display: block;
    float: left;
    margin-left: 8px;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;
    color: #fff;
    position: relative;
	margin-left: 20px;
	font-size: 18px;
}
.basic-nav .site-nav a i {
    position: relative;
    top: 11px;
    font-size: 20px;
    text-align: center;
    display: block;
}


.basic-nav .burger {
    background: #fff;
    width: 20px;
    height: 3px;
    display: block;
    position: relative;
    top: 14px;
    left: 11px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.basic-nav .burger:before {
    content: " ";
    display: block;
    top: 6px;
    right: 0;
    background: #fff;
    width: 15px;
    height: 3px;
    position: absolute;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.basic-nav .burger:after {
    content: " ";
    display: block;
    top: 12px;
    right: 0;
    background: #fff;
    width: 10px;
    height: 3px;
    position: absolute;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.video-content {
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: absolute;
}
.video-replacement {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}
.video {
    position: relative;
    min-height: 250px;
    margin-bottom: 30px;
    width: 100%;
}
.large-banner {
    height: 800px;
    background-size: cover;
    background-position: 50% 50%;
}
.banner {
    overflow: hidden;
    position: relative;
    vertical-align: middle;
    margin: auto;
}
.loc-part .telephone a:hover {
    text-decoration: none;
    cursor: default;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: #93c01f;
    -webkit-transition: 1s ease-in;
    -moz-transition: 1s ease-in;
    -ms-transition: 1s ease-in;
    -o-transition: 1s ease-in;
    transition: 1s ease-in;
    padding-top: 15px;
    padding-bottom: 15px;
}

.sticky + .content {
    padding-top: 102px;
}
.sticky .locations, .sticky .telephone{
    display:none;
}
.brand img {
    width: 100%;
    max-width: 262px;
}
.sticky .brand img {
    max-width: 80px;
}
.overvideo-content{
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 1;
	margin-bottom: 50px;
}
.overvideo-inner{
    display: table-cell;
    vertical-align: middle;
	background: url(../images/dot.png);
}
.heading-text .subheading {
    color: #fff;
    font-weight: 200;
    font-size: 30px;
    margin: 0;
	text-align: center;
}
.home_pg .heading-text .subheading {
	color: #93c01f;
}

 .home_pg .heading span#typed3 {
    font-weight: 400;
    color: #fff;
}
.home_pg .heading span.typed-cursor {
    color: #fff;
}

.heading-text .heading {
    color: #93c01f;
    font-weight: 600;
    font-size: 30px;
    margin: 0;
    padding-top: 15px;
	font-family: 'Titillium Web', sans-serif;
	text-align: left;
}
.heading {
    font-weight: 200;
    font-size: 40px;
    margin-bottom: 22px;
    margin-top: 0;
    word-break: normal;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    hyphens: none;
}
.largeheading { font-size: 60px;}
.banner .search-element {
    margin-top: 50px;
	width: 70%;
	margin-top: 50px;
	margin-left: 0px;
}
.search-bar {
    position: relative;
    width: 280px;
    margin: 0 auto;
}
.search-bar .search-text {
    width: 100%;
    height: 60px;
    border: 0;
    border-radius: 10px;
    padding: 10px 60px 10px 70px;
    font-size: 18px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
	
}
.search-bar .search-submit {
    border: 0;
    width: 45px;
    height: 45px;
    display: block;
    position: absolute;
    left: 1.7%;
    top: 7px;
    background: #cd1761;
    border-radius: 9px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.search-bar .search-submit input {
    opacity: 0;
    width: 45px;
    height: 45px;
    position: absolute;
    z-index: 1;
}
.search-bar .search-submit i {
    position: relative;
    top: 11px;
    font-size: 20px;
    text-align: center;
    display: block;
    color: #fff;
    z-index: 0;
}
.i-btn {
    float: none;
    margin: 10px auto;
    width: auto;
    text-align: center;
    position: relative;
    display: block;
    top: 20px;
    font-size: 16px;
    font-weight: 200;
    color: #fff;
    background-color: #cd1761;
    padding: 7px 8px;
    height: 60px;
    border-radius: 10px;
    width: calc(35% - 10px);
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.i-btn i {
    background: #fff;
    border-radius: 9px;
    width: 45px;
    height: 45px;
    color: #000;
    float: left;
    font-size: 20px;
    position: absolute;
    left: 7px;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
}
.i-btn span {
    width: 100%;
    overflow: hidden;
    height: 38px;
    display: inline-block;
    word-wrap: break-word;
    word-break: break-all;
    margin-top: 11px;
    left: 0;
    padding-left: 45px;
	font-size: 18px;
}
.i-btn span.home {
    padding-left: 0;
	padding-right: 0;
	text-align: center;
	font-size: 18px;
}
.i-btn.start-hiring {
	margin-left:10px;
}
.client-links {
	text-align: center;
}
.client-links .i-btn {
	display: inline-block;
	margin: auto 10px;
	text-align: center;
	float: none;
}
.basic-nav .site-buttons a:hover {
    background: #000;
    text-decoration: none;
}
.basic-nav a:hover .burger:before, .basic-nav a:hover .burger:after {
    width: 20px;
}
.i-btn i:before {
    position: relative;
    top: 11px;
}
.i-btn:hover {
    background-color: #000;
    color: #fff;
}
.banner .curved-element{
    position: absolute;
    width: 150%;
    height: 50%;
    bottom: -40%;
    left: -25%;
    background: #fff;
    border-radius: 40%;
    z-index: 1;
}
.main-content { margin-top: 30px; }
.main-content .text-content {
    margin: 0 0 80px 0;
}

.text-content .heading span.oho {
    position: relative;
    color: rgba(0,0,0,0);
}
.text-content p {
    margin-bottom: 20px;    
}
.heading span {
    font-weight: 400;
    color: #93c01f;
}
.header-social {

    text-decoration: none;
}
.header-social a{
	color: #000;
	font-size: 30px;
	margin: 5px 0 10px 5px;
}


.header-social a:hover {
	text-decoration: none;
}

.header-social a:visited {
	text-decoration: none;
}

.text-content .heading span.oho:after {
    content: "";
    background: url(../images/oho-green.svg) no-repeat;
    position: absolute;
    top: 2px;
    left: 0;
    width: 90px;
    height: 44px;
}
.text1{
    font-size: 24px;
    font-weight: 200;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 50px;
}
.text2 {
    margin-top: 20px;
}
.slider-inner-block2{
    padding: 40px;
    margin: 0 0 0 0;
    border-top: 0 solid #d8d8d8;
    position: relative;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#d8d8d8+0,efefef+100 */
background: #d8d8d8; /* Old browsers */
background: -moz-linear-gradient(45deg, #d8d8d8 0%, #efefef 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(45deg, #d8d8d8 0%,#efefef 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(45deg, #d8d8d8 0%,#efefef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#efefef',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	height: 265px;
	border: 5px #fff solid;
	border-radius: 10px;
}
.slider-inner-block2 .heading{
    font-size: 18px;
    color: #332f2c;
    font-weight: normal;
}
.slider-inner-block2 .heading a{
    font-size: 18px;
    color: #332f2c;
    font-weight: 500;
	height: 60px;
}
.slider-inner-block2 .heading span{
    display: block;
    font-size: .7em;
    padding-top: 5px;
    font-weight: normal;
    color: #9a9a9a;
}
.slider-inner-block2 ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 25px;
}
.slider-inner-block2 ul li {
    margin-bottom: 8px;
    display: block;
    margin-right: 0;
}
.slider-inner-block2 ul li i.location {
    background: url(../images/location-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 5px;
}
.slider-inner-block2 ul li i.type {
    background: url(../images/type-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 5px;
}
.slider-inner-block2 ul li i.salary {
    background: url(../images/salary-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 5px;
}
.slider-inner-block3 {
	margin: auto 10px;
	border-radius: 10px;
	overflow: hidden;
}
.slider-inner-block3 .sector-block {
	position: relative;
}
.slider-inner-block3 .sector-block img {
	width: 100%;
}
.slider-inner-block3 .sector-block .sector-info {
	position: absolute;
	bottom: -0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	background-color: rgba(0,0,0,0.8);
}
.slider-inner-block3 .sector-block .sector-info h3{
	color: #fff;
	font-weight: 600;
	font-size: 30px;
	margin-bottom: 20px;
}
.slider-inner-block3 .sector-block .sector-info h3 a {
	color: #fff;
}
.slider-inner-block3 .sector-block .sector-info h3 a:hover {
    text-decoration: none;	
}

.slider-inner-block3 .sector-block .sector-info a {
	background: none;
	text-align: right;
	width: 100%;
	padding: 0;
	font-weight: 400;
}
.slider-inner-block3 .sector-block .sector-info a:hover {
	color: #cd1761;
} 
.link-slider{
    font-size: 16px;
    color: #332f2c;
    font-weight: 500;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
	background: #000;
	color: #fff; 
	padding: 10px;
	border-radius: 5px;
	display:block;
	width: 190px;
	text-align:center;
	transition: ease-in-out all .2s;
}

.link-slider:hover {
    text-decoration: none;
    color: #93c01f;
}
.slick-list{
    margin-top: 60px;
}
.multiple-testimonials1 .slick-list, .multiple-testimonials1 .slick-list2{
    margin-top: 0px;
}
/*.multiple-testimonials1 .slick-prev, .multiple-testimonials1 .slick-next {
	top: 18%;
}*/
.team-member {
	margin-bottom: 75px;
}
.testimonial-block {
    background: #ec6fa3; /* Old browsers */
    background: -moz-linear-gradient(top, #fabad4 0%, #fbdde9 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fabad4 0%,#fbdde9 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fabad4 0%,#fbdde9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fabad4', endColorstr='#fbdde9',GradientType=0 ); /* IE6-9 */;
}
.testimonial-block p {
    text-align: left;
    padding: 30px;
    display: block;
}
.testimonial-block p span {
	font-style: italic;
}
.testimonial-block {
}



#contact-form {
    padding-top: 0px;
    max-width: 850px;
    margin: 0 auto 50px;
    text-align: center;
}

#form {
    max-width: 850px;
    margin: auto;
    margin-top: 0px;
}

.contact-h2 {
    font-size: 20px !important;
    text-align: center !important;
    color: #333;
}

#form .contact-form-left {
    float: left;
    width: 47.5%;
    margin-right: 5%;
    margin-bottom: 15px;
}
#form .contact-form-left .drop_uploader.drop_zone span.bfile {
	float: none;
}
#form .contact-form-right {
    float: left;
    width: 47.5%;
    margin-bottom: 15px;
}
.contact-form-full {
	width: 100%;
}
#form input[type=text] {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    border: #000 1px solid;
    border-bottom: #cd1761 2px solid;
    background: #fff;
}

#form .textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 15px;
    resize: none;
    height: 250px;
    margin-bottom: 0px;
    background: #fff;
	border: #000 1px solid;
	border-bottom: #cd1761 2px solid;
}

#form input[type=submit] {
    background: #cd1761;
    padding: 15px 25px 15px 25px;
    margin-top: 10px;
    color: #fff;
    transition: all .2s ease-in-out;
    font-size: 18px;
    border: none;
    width: 200px;
    margin: 20px auto;
    display: block;
    font-weight: bold;
}

#form input[type=submit]:hover {
    background: #000;
    cursor: pointer;
}

#form h2 {
    font-weight: lighter;
    font-size: 22px;
    margin-bottom: 50px;
    color: #333;
}

#form h1 {
    color: #007dac;
    font-size: 30px;
    margin-top: 0px;
    padding-top: 0px;
}

.contact-form {
    background: url(../img/contact-pattern.png) no-repeat;
    background-size: cover;
    border-bottom: #ccc 5px solid;
}
.confirm-bar {
	text-align: center;
	padding: 20px 0;
	margin-bottom:20px;
	font-weight: 400;
	font-size: 1.3em;
}
.confirm-bar {
	color: #93c01f;
}
.error-bar {
	color: red;
}
.btn-ghost-primary {
    border: 1px solid #d8d8d8;
    border-radius: 0;
    position: relative;
    font-size: 20px;
    font-weight: 400;
    color: #4a4a4a;
    padding: 10px 25px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}

.btn-ghost-primary:hover {
    border: 1px solid #de6320;
}
.see-more, .text-image{
    margin-top: 0px;
    margin-bottom: 80px;
}
.image-content img {
    width: 100%;
    border-radius: 10px;
}
.text-content {
    margin: 0 0 80px 0;
}
.text-content  h2 {
    color: #cd1761;
    font-size: 28px;
	text-align: center;
	line-height: 35px;
	margin-bottom: 30px;
}
.site-links .container dl {
    margin-bottom: 0;
    width: 100%;
    display: inline-block;
    vertical-align: top;
    padding-right: 10px;
}
.site-links .container dl dt {
    margin-bottom: 15px;
}
.site-links .container dl dt a {
    color: #666;
    font-weight: 500;
    font-size: 18px;
	text-decoration: none;
	transition: ease-in-out all .2s;
}.site-links .container dl dt a:hover { color: #000; }
.footer{

	background: #f7f7f7;
	padding-bottom: 100px;
}
.footer .site-links .container{
    padding-top:100px;
}
.footer-address {
    margin-bottom: 10px;
}
.footer-address .f-location {
    color: #4a4a4a;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
}
.footer-address address {
    font-size: 14px;
    margin-bottom: 20px;
}
address {
    margin-bottom: 20px;
    font-style: normal;
    line-height: 1.42857143;
}
.footer-address i.fa {
    margin-right: 10px;
}
.footer-address .f-telephone {
    font-size: 14px;
    display: block;
    margin-bottom: 20px;
}
.footer-address .f-email {
    font-size: 14px;
    display: block;
    margin-bottom: 10px;
    color: #4a4a4a;
}
.footer-address a {
    color: #4a4a4a !important;
    cursor:pointer;
}
a {
    color: #000;
    cursor:pointer;
}

.text-content a {
    color: #cd1761;    
}

.small-text-section{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 40px;
}
.for-slider{
    margin-top: 80px;
}
.second-loc{
    padding-top: 10px;
    padding-bottom: 5px;
}
.social-title {
    color: #4a4a4a;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 20px;
    display: block;
}
.site-links .container .social-links a {
    display: inline-block;
}
.site-links .container .social-links a i {
    width: 40px;
    height: 40px;
    background-color: #93c01f;
    color: #fff;
    font-size: 17px;
    border-radius: 10px;
    padding: 11px 13px;
	margin-right: 10px;
	margin-bottom: 10px;
}
.site-links .container .social-links a {
    display: inline-block;
}
.f-logos {
    margin-top: 10px;
}
.site-links .container .social-links img {
    max-width: 100px;
}
.signoff {
    position: relative;
    vertical-align: middle;
    margin: auto;
    height: 115px;
    overflow: hidden;
    z-index: 1;
    text-align: center;
    font-size: 14px;
    color: #000;
    padding-top: 30px;
	background: #f7f7f7;
}
.signoff .curved-element {
    position: absolute;
    width: 120%;
    height: 230px;
    bottom: -115px;
    left: -10%;
    background: #cd1761;
    border-radius: 40%;
    z-index: -1;
}
.signoff a {
    font-size: 14px;
    color: #fff;
    margin: 0 5px;
}
.signoff p {
    font-size: 14px;
    color: #fff;
    margin-bottom: 5px;
}
.site-links .container .social-links a:hover i {
    background-color: #93c01f;
}
/*.banner::after {
    position: absolute;
    content: " ";
    width: 100%;
    height: 100%;
    z-index: 0;
    background: rgba(0,0,0,0.5);
    top: 0;
}
.banner:before {
    position: absolute;
    content: " ";
    width: 100%;
    height: 540px;
    z-index: 0;
    background: rgba(0,0,0,.3);
    background: -moz-linear-gradient(top,rgba(0,0,0,.3) 0%,rgba(5,5,5,0) 100%);
    background: -webkit-gradient(left top,left bottom,color-stop(0%,rgba(0,0,0,.3)),color-stop(100%,rgba(5,5,5,0)));
    background: -webkit-linear-gradient(top,rgba(0,0,0,.3) 0%,rgba(5,5,5,0) 100%);
    background: -o-linear-gradient(top,rgba(0,0,0,.3) 0%,rgba(5,5,5,0) 100%);
    background: -ms-linear-gradient(top,rgba(0,0,0,.3) 0%,rgba(5,5,5,0) 100%);
    background: linear-gradient(to bottom,rgba(0,0,0,.3) 0%,rgba(5,5,5,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000',endColorstr='#050505',GradientType=0);
}*/
.btn-ghost-primary:hover:before {
    width: 100%;
}
.btn-ghost-primary:hover:after {
    width: 100%;
}
.search-bar .search-text:focus {
    outline: none;
}

.search-bar.active .search-text{
	padding:10px 40px 10px 20px;
}
.search-bar.active .search-submit{
	left:350px;
	background:#000;
}
.navigation-list li.active{
	background: #ff7c07;
}

#sub-list1 li a,#sub-list2 li a, #sub-list3 li a, #sub-list4 li a, #sub-list5 li a, #sub-list6 li a, #sub-list7 li a {
	width:100% !important;
}
.navigation-list li.active i.toggle-list:after {
    width: 0;
    height: 0;
}
.navigation-list li:hover {
    background: #ff7c07;
}
.last-icon{
	left: 8px;
    position: relative;
    top: -8px;
    font-size: 12px;
}
.last-li{
	margin-top: 10px;
}
.close-icon{
    padding: 4px 10px !important;
    border-radius: 200px;
    width: 40px;
    height: 40px;
    border: 1px solid #4a4a4a !important;
    font-size: 30px;
}
.cv-upload-text{
	padding-top: 25px;
}
.cv-upload-text span{
	font-weight:500;
}
.slick-prev, .slick-next{
    top:0% ;
}
.slick-prev{
    left: 94%;
}
.slick-next{
    right: 5%;
}
.slick-prev:before, .slick-next:before{
    font-size: 0;
}
.slick-next:before{
    background: url(../images/next.png) no-repeat;
    background-size: cover;
    width: 40px;
    height: 16px;
    display: block;
    position: absolute;
    right: 0px;
    top: -30px;
    opacity: .5;
    cursor: pointer;
}
.slick-prev:before{
    background: url(../images/previous.png) no-repeat;
    background-size: cover;
    width: 40px;
    height: 16px;
    display: block;
    position: absolute;
    right: 90px;
    top: -30px;
    opacity: .5;
    cursor: pointer;
}
.multiple-items .slick-dots{
   display: none !important;
}
.container-fluid {
	margin-bottom: 10px;
}
.cv-modal-dialog .modal-body form {
    margin: 0 0 30px 0;
}
.form-field {
    padding-bottom: 15px;
}
.form-field input[type='text'] {
    background-color: #4a4a4a;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
}
input[type="password"], input[type="text"], input[type="email"], input[type="tel"], input[type="num"], textarea {
    padding: 15px 20px;
    width: 100%;
    border: 0 solid #ddd;
    height: 54px;
}
.cv-modal-dialog .modal-content{
    border: 1px solid #fff;
    border-bottom: none;
}
.cv-modal-dialog .modal-header{
    border-bottom:none;
}
.round {
    position: relative;
}
.round label {
    background-color: #4a4a4a;
    border: 1px solid #4a4a4a;
    border-radius: 50%;
    cursor: pointer;
    height: 32px;
    left: 0;
    position: absolute;
    top: 0;
    width: 32px;
}

.round label:after {
    border: 3px solid #fff;
    border-top: none;
    border-right: none;
    content: "";
    height: 8px;
    left: 9px;
    opacity: 0;
    position: absolute;
    top: 9px;
    transform: rotate(-45deg);
    width: 12px;
}

.round input[type="checkbox"] {
    visibility: hidden;
}

.round input[type="checkbox"]:checked + label {
    background-color: #4a4a4a;
    border-color: #4a4a4a;
}

.round input[type="checkbox"]:checked + label:after {
    opacity: 1;
}
.container-check {
    margin: 10px auto;
}
.checkbox-text1, .checkbox-text2{
    padding-left: 30px;
    vertical-align: middle;
    font-size: 14px;
}
.checkbox-text1:hover, .checkbox-text2{
    color:#93c01f;
}
.upload-cv-btn{
    float: none;
    margin: 10px auto;
    width: 100%;
    text-align: center;
    position: relative;
    display: block;
    top: 20px;
}
.modal-cv{
    width: 100%;
}
.btn-ghost-primary input[type=submit] {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.modal-send{
    margin-top: 40px;
    width: 100%;
}
.form-field input:focus, .basic-nav .site-buttons a:focus {
    outline: none;
}
body.active-body {
    overflow: hidden;
}
.banner-home{
    background-image: url(../images/homepage-poster.jpg) ;
}

.small-banner {
    height: 580px;
    background-size: cover;
    background-position: 50% 50%;
}
.small-banner .heading-text { margin-top: 120px; min-height:70px }
.small-banner .heading-text .heading { text-align: left !important; font-size: 30px; }
.small-banner .heading-text .subheading { text-align: left; margin-top: 40px; }
.about-bn{
    background-image: url(../images/about-banner.jpg);
}

.sectors-ict-bg{
    background-image: url(../images/sectors_ict-banner.jpg);
}

.sectors-hr-bg{
    background-image: url(../images/sectors_hr-banner.jpg) ;
}

.sectors-pr-bg{
    background-image: url(../images/sectors_pr-banner.jpg) ;
}

.sectors-tech-bg{
    background-image: url(../images/sectors_tech-banner.jpg) ;
}

.sectors-dig-bg{
    background-image: url(../images/sectors_dig-banner.jpg) ;
}

.services-per-bg{
    background-image: url(../images/services_per-banner.jpg) ;
}

.services-con-bg{
    background-image: url(../images/services_con-banner.jpg) ;
}

.services-hr-bg{
    background-image: url(../images/services_hr-banner.jpg) ;
}

.services-man-bg{
    background-image: url(../images/services_man-banner.jpg) ;
}

.services-hmc-bg{
    background-image: url(../images/services_hmc-banner.jpg) ;
}





.rpo-bn{
    background-image: url(../images/rpo-banner.jpg) ;
}
.aboutsection { margin-bottom: 70px; margin-top: 40px; }
.text-content-new{
    margin: 0 0 80px 0;
}
#about-img > div {
    position: absolute; 
    top: 0px; 
    left: 0px; 
    right: 0px; 
    bottom: 0px;
}

.full-bg-section {
    margin-bottom: 0;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0 180px 0;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.full-bg-section:hover {
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.full-bg-section:before {
    content: " ";
    background: transparent;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.about-page-bg2{
    background: #333;
	margin-top: 100px;
}
.light-text .heading span {
    color: #fff;
}
.light-text .rte h1, .light-text .rte h2, .light-text .rte h3, .light-text .rte h4, .light-text .rte h5, .light-text .rte h6 {
    color: #fff;
}
.values-text{
    font-weight:200;
}
.extra-spacing {
    padding: 80px 0;
}
.icon-label-text{
    position: relative;
    padding-bottom: 80px;
    width: 100%;
    padding-left: 25px;
    padding-right: 25px;
}
.icon-label-text img {
    max-width: 75px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
    transform: scale(1);
    position: relative;
    top: 0;
    opacity: 1;
}
.icon-label-text:hover img {
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.icon-label-text span.labels {
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
    transform: scale(1);
    display: block;
    color: #fff;
    font-size: 26px;
    line-height: 28px;
    margin-top: 10px;
    top: 0;
    position: relative;
}
.icon-label-text:hover span.labels {
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.icon-label-text p {
    color: #fff;
    font-size: 14px;
    line-height: 18px;
    margin-top: 10px;
    width: 100%;
    top: 200px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.icon-label-text:hover p {
    display: block;
    top: 40px;
    opacity: 1;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.icon-label-text:after {
    content: " ";
    position: absolute;
    width: 1px;
    height: 100%;
    top: 0;
    right: -15px;
    background: rgba(255,255,255,.3);
}
.light-text .rte p{
    color: #fff;
}
.send-cv-section h3{
    font-weight: 200;
}
.send-cv-section p a, .send-cv-section p a:hover{
    color: #fff;
}
.col-md-8 .text-content {
    margin-bottom: 0;
}
.col-md-push-2 .text-content {
    padding-right: 0;
}
.read-more-txt strong a span{
    color: #93c01f;
    font-weight: 800;
}
.giving-back{
    margin-top: 80px;
    margin-bottom: -80px;
}
/*Meet the teem page styles*/
.meet-bn{
    background-image: url(../images/about-oho-bg.jpg);
}
.meet-the-team-texts .text1{
    padding-bottom: 0;
}
.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}
.col-of-row{
    height: 455px;
}
.row.no-gutters>[class^="col-"], .row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}
.team-profile {
    text-align: center;
    padding: 0 15px;
}
.team-profile .profile-img {
    width: 100%;
    height: auto;
    max-width: 300px;
    border-radius: 10px;
    overflow: hidden;
    margin: 10px auto;
}
.team-profile .profile-img img {
    width: 100%;
}
.team-profile .profile-name {
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 10px;
	height: 45px;
}
.team-profile .profile-position {
    font-size: 17px;
    display: block;
	color: #666;
	height: 68px;
}
.team-profile .social-links {
    padding: 20px 0;
}
.team-profile .social-links a {
    display: inline-block;
}
.team-profile .social-links a i {
    width: 40px;
    height: 40px;
    background-color: #0077b5;
    color: #fff;
    font-size: 19px;
    border-radius: 10px;
    padding: 11px 13px;
	margin-bottom: 30px;
}
.team-profile .social-links a:hover i {
    background-color: #004d75;
}
/*Join Us page styles*/
.join-bn{
    background-image: url(../images/example-sector.jpg) ;
}
.text3{
    font-size: 20px;
    font-weight: 300;
    position: relative;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 30px;
}
.text3-content{
    padding-top: 100px;
}
.rte ul li:before {
    content: " ";
    position: absolute;
    left: 15px;
    /*top: 7px;*/
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 5px 0 5px 8.7px;
    border-color: transparent transparent transparent #93c01f;
}
.text4{
    position: relative;
    top: -10px;
    font-size: 20px;
    font-weight: 400;
    padding-bottom: 20px;
    margin-bottom: 20px;
    line-height: 30px;
    padding-left: 15px;
}
.cv-btn-loc{
    top: 10px;
    position: relative;
}
.perks-list-loc{
    margin-top: 80px;
}
.last-join-sec{
    margin-bottom:-5%;
}
/*Contact page styles*/
.contact-bn{
    background-image: url(../images/example-case-study-banner.jpg) ;
}
#map, #map2 {
    width: 100%;
    height: 500px;
    margin-bottom: 0px;
}
.grid-content-with-intro .col-sm-6 .text-content {
    display: table-cell;
    border: 1px solid #d8d8d8;
    height: auto;
    padding: 0 20px;
    text-align: left;
    background: #fff;
    vertical-align: middle;
    margin-bottom: 0;
    float: none;
}
.grid-content-with-intro {
    background: #f6f6f6;
    padding: 0 0 90px 0;
}
.grid-content-with-intro.none-bg {
    background: transparent;
}
.grid-content-with-intro .match-height>div {
    display: table;
}
.location-text{
    font-weight: 200;
    padding-bottom: 20px;
}
.modal-send2{
    margin-top: 40px;
    width: 200px;
}
.contact-form{
    margin-top: 20px;
}
.form-field input[type='num'], .form-field input[type='email'], .form-field input[type="password"] {
    background-color: #4a4a4a;
    color: #fff;
    border-radius: 50px;
    padding: 10px 20px;
}
.form-field textarea {
    background-color: #4a4a4a;
    color: #fff;
    border-radius: 25px;
    padding: 10px 20px;
}
.contact-form textarea{
    width: 100%;
    height: 150px;
}
.contact-form textarea:focus{
    outline: none;
}
/*Job Detailes page styles*/
.job-bn{
    background-image: url(../images/candidate-services-bg.jpg) ;
}
#main {
    padding-top: 30px;
}
.forgot-pass{
    padding: 20px 0;
}
.ajax-search-results{
    min-height: 400px;
}
.job .heading {
    margin-bottom: 5px;
    margin-top: 20px;
}
.job .date-posted {
    margin-bottom: 20px;
    color: #9a9a9a;
    font-size: 13px;
}
.job .date-posted {
    margin-bottom: 20px;
    color: #9a9a9a;
    font-size: 13px;
}
.job .date-posted span{
    display: block;
    padding-bottom: 8px;
}
.quick-job ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px;
}
.quick-job ul li {
    margin-bottom: 8px;
    display: block;
    margin-right: 0;
}
.quick-job ul li i.location {
    background: url(../images/location-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.quick-job ul li i {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 5px;
}
.quick-job ul li i.type {
    background: url(../images/type-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.quick-job ul li i.salary {
    background: url(../images/salary-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
.quick-job .job-actions {
    display: block;
}
.job-actions {
    display: none;
}
.job .btn.btn-ghost-primary {
    padding: 10px 45px;
}
.quick-job .btn-ghost-primary {
    width: 100%;
}
.btn-ghost-primary {
    border: 1px solid #d8d8d8;
    border-radius: 10px;
    position: relative;
    font-size: 18px;
    font-weight: 400;
    color: #4a4a4a;
    padding: 10px 25px;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.btn-ghost-primary:hover { background: #000; color: #fff; border-color: #000; }
.btn-ghost-primary i { color: #ccc; }
.btn-ghost-primary:hover i { color: #93c01f; }
.button-text{
    position: relative;
    top: 8px;
}
.button-text:hover{
    color: #93c01f;
    cursor: pointer;
}

.range-slider {
    width: 100%;
    margin-top: 10px;
}

.range-slider__range {
    -webkit-appearance: none;
    width: calc(100% - (73px));
    height: 1px;
    border-radius: 5px;
    background: #d7dcdf;
    outline: none;
    padding: 0;
    margin: 0;
}
.range-slider__range::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #de6320;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__range::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border: 0;
    border-radius: 50%;
    background: #de6320;
    cursor: pointer;
    transition: background .15s ease-in-out;
}
.range-slider__value {
    display: inline-block;
    position: relative;
    width: 60px;
    color: #000;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
    padding: 5px 10px;
    margin-left: 8px;
}
::-moz-range-track {
    background: #d7dcdf;
    border: 0;
}

input::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0;
}
.range-slider input{
    display: inline-block;
    width: 50%;
}
.range-slider .range-slider__value{
    display: inline-block;
}
.value-measure{
    display: inline-block;
    position: relative;
    left: -10px;
    font-size: 18px;
}
.ranger h4{
    margin-top: 8px;
}
.job-select{
    box-shadow: none;
    border-top: 1px solid #fff;
    border-right: 1px solid #fff;
    border-left: 1px solid #fff;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;
    color: #444;
    height: 45px;
}
.job-select:focus {
    border-right: none;
    border-left: none;
    border-top: none;
    outline:none;
    box-shadow:none;
    border-color: #dfdfdf;
    background: #dfdfdf80;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 12px;
}
#jobsearchrefine .btn-ghost-primary{
    width: 100%;
    margin-top: 20px;
}
.job-select option span{
    height: 50px;
}
.quick-quote {
    background: #de6320;
    border-radius: 15px;
    margin-bottom: 50px;
    padding: 20px 20px 50px 20px;
    color: #fff;
    position: relative;
    margin-top: 50px;
}
.quick-quote:before {
    content: open-quote;
    font-size: 75px;
    font-family: arial;
    position: absolute;
    top: 20px;
    left: 20px;
}
.quick-quote:after {
    content: close-quote;
    font-size: 75px;
    font-family: arial;
    position: absolute;
    bottom: -25px;
    right: 20px;
}
.quick-quote blockquote q {
    position: relative;
    display: block;
    font-size: 20px;
    padding: 6px 30px;
    letter-spacing: -.5px;
    line-height: 30px;
}
.quick-quote blockquote span.author:before {
    content: " ";
    display: inline-block;
    width: 15px;
    height: 1px;
    background: #fff;
    position: relative;
    top: -5px;
    margin-right: 10px;
}
.quick-quote blockquote {
    border-left: 0;
    padding: 0;
    margin: 0;
}
.quick-quote blockquote span.author {
    display: block;
    font-size: 16px;
    margin-left: 30px;
}
/*Job Results Page styles*/
.ajax-search-results {
    min-height: 400px;
}
.job-count {
    margin: 30px 0 10px 0;
    display: inline-block;
}
.job-count-last{
    float:right;
}
.job-count strong {
    color: #93c01f;
    font-weight: bold;
}
div.jobs .job .date-posted {
    position: absolute;
    right: 0;
    border-top: 1px solid #de6320;
}
#job-list{
    padding-left: 25px;
}
#job-list .job{
    border-top: 1px solid rgba(74,74,74,.1);
    margin: 20px 0 40px 0;
}
div.jobs .job .heading, div.jobs .job .heading a {
    font-size: 18px;
    color: #332f2c;
    font-weight: 500;
}
div.jobs .job .heading a:hover {
    text-decoration: none;
    color: #de6320;
}
.heading span.job-ref {
    display: block;
    font-size: .7em;
    padding-top: 5px;
    font-weight: normal;
    color: #9a9a9a;
}
div.jobs .job ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px;
}
div.jobs .job ul li {
    margin-bottom: 8px;
    margin-right: 25px;
    display: inline-block;
}
div.jobs .job ul li i.location {
    background: url(../images/location-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
div.jobs .job ul li i {
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 5px;
}
div.jobs .job ul li i.type {
    background: url(../images/type-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
div.jobs .job ul li i.salary {
    background: url(../images/salary-primary-colour.svg) no-repeat;
    background-size: cover;
    width: 20px;
    height: 20px;
}
div.jobs .job a.link {
    font-size: 16px;
    color: #332f2c;
    font-weight: normal;
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
div.jobs .job a.link:hover {
    text-decoration: none;
}
div.jobs .job a.link:after {
    content: " ";
    width: 100%;
    height: 1px;
    background: #de6320;
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    -webkit-transition: .5s ease-in;
    -moz-transition: .5s ease-in;
    -ms-transition: .5s ease-in;
    -o-transition: .5s ease-in;
    transition: .5s ease-in;
}
.act-p{
    margin: 0 0 10px;
}
div.jobs .job a.link:hover:after {
    width: 80%;
    background: #93c01f;
}
.op-heading{
    font-size:40px !important;
}
.pagination {
    text-align: center;
    width: 100%;
}
.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination ul li:first-child {
    display: inline-block;
}
.pagination ul li {
    display: none;
    text-align: center;
    margin: 0 !important;
}
.pagination ul li:first-child a {
    width: 100px;
    padding: 6px 20px;
}
.pagination ul li a {
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #d8d8d8;
    color: #d8d8d8;
}
.pagination ul li span, .pagination ul li .current {
    width: 35px;
    height: 35px;
    display: block;
    border: 1px solid #de6320;
    background: #de6320;
    font-weight: 400;
    color: #fff;
}
.pagination ul li.current {
    display: inline-block;
}
.pagination ul li:last-child a {
    width: 100px;
    padding: 6px 20px;
}
.pagination ul li a:hover {
    border: 1px solid #de6320;
    color: #de6320;
    text-decoration: none;
}
.meet-team-btn { display: block; width: 200px; border: #ccc 1px solid; border-radius: 10px; text-align: center; padding: 15px; font-size: 18px; color: #000; transition: .5s ease-in-out all; text-decoration: none; }
.meet-team-btn:hover { background: #000; color: #fff; border-color: #000; text-decoration: none;  }
.meet-team-btn i { color: #ccc; }
.meet-team-btn:hover i { color: #93c01f; }

.padbot { padding-top: 3px;
}

#navbtn {
    width: 80px;
    height: 102px;
    display: block;
    background: #93c01f;
    position: fixed;
	padding-top: 10px;
    top: 0px;
    right: 0px;
    text-align: center;
    line-height: 80px;
    font-size: 40px;
    color: #fff;
    cursor: pointer;
    transition: ease-in-out all .2s;
}
#navbtn:hover {
    color: #93c01f;
    background: #0C6801;
}

.blogsec{

}
.postbox {
    margin-bottom: 40px;
    min-height: 425px;
	text-align:left;
}
.blogsec .postbox img{
	width:100%;
	min-height:240px;
	-webkit-filter: grayscale(100%);
	filter: grayscale(100%);
	border-radius: 10px;
}
.postbox img:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}
.postbox figure {
    padding-bottom: 20px;
}
.postbox h4 a {
    color: #93c01f;
    font-size: 26px;
    line-height: 27px;
    padding-bottom: 20px;
    display: block;
	font-weight:600;
	text-decoration: none; 
}
.content-wrapper .blogsec p {
    font-size: 18px;
    line-height: 25px;
}
.dates{
	font-weight:600;
	font-size:16px;
}
.postcont img{
	width:100%;
}
.postcont h1{
	padding-top:30px;
	color: #003a5d;
	font-weight:600;
	font-family: 'PT Sans', sans-serif;
}
.postcont .dates{
	padding:20px 0 10px;
}
.postcont h3{
	padding-bottom:10px;
}
.listpt{
	padding-left:30px;
}
.listpt li{
	list-style:disc;
	line-height:26px;
}
.listpt ul{
	padding-left:25px;
	margin-bottom:0;
}
.listpt ul li{
	list-style:circle;
	font-size:16px;
}

.blogarticle p { line-height: 30px; font-size: 18px; }
.blogarticle { margin-top: 50px; text-align: left; }
.blogarticleheading { font-size: 40px; text-align: left; }

/*.overlay {
    position: fixed;
    background: blue;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transform-origin: left;
    transform: translate(-100%, 0);
    visibility: hidden;
    transition: all 0.4s linear;
    overflow: hidden;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
	z-index:3;
}*/

/*.overlay.open {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
	overflow: auto;
	padding-bottom: 100px;
}
*/
/*20180926*/
.overlay {
    position: fixed;
    background: #cd1761;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 3;
    transform-origin: left;
    transform: translate(-100%, 0);
    visibility: hidden;
    transition: all 0.4s linear;
    overflow: hidden;
    -webkit-transition: all 0.4s linear;
    -moz-transition: all 0.4s linear;
    -ms-transition: all 0.4s linear;
    -o-transition: all 0.4s linear;
    z-index:3;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
    transform: translate(0, 0);
}

/*20180926*/
/* .overlay.open li {
    display: block;
    animation: fadeInRight 0.6s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    animation-delay: 0.4s;
    transform: rotate(-7deg);
    transform-origin: left;
    -webkit-animation: fadeInRight 0.6s cubic-bezier(0.42, 0.83, 0.7, 1.5) forwards;
    
} */

/* .overlay.open li:nth-of-type(2) {
    animation-delay: 0.5s;
}

.overlay.open li:nth-of-type(3) {
    animation-delay: 0.6s;
}

.overlay.open li:nth-of-type(4) {
    animation-delay: 0.7s;
}

.overlay.open li:nth-of-type(5) {
    animation-delay: 0.8s;
} */

.overlayMenu {
    margin-top: 5vw;
}

.overlayMenu ul {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    display: block;
    position: relative;
    height: 100%;
}

.overlayMenu ul li {
    display: block;
    position: relative;
    opacity: 1;
    width: 100%;
}

.overlayMenu ul li a {
    display: inline-block;
    font-size: 30px;
    line-height: 50px;
    color: white;
    text-decoration: none;
    transition: 0.2s;
}

.overlayMenu ul li a:hover::before {
    position: absolute;
    content: "";
    top: 35px;
    left: 0;
    width: 54px;
    height: 3px;
    background-color: #000000;
    transition: 0.4s;
    transform: translateX(-2px);
}

.overlayMenu ul li a:active::before {
    position: absolute;
    content: "";
    top: 35px;
    left: 0;
    width: 54px;
    height: 3px;
    background-color: #000000;
    transition: 0.4s;
    transform: translateX(-2px);
}

.overlayMenu ul li a:hover {
    transform: translateX(-2px);
    padding-left: 80px;
    color: #000;

}
.overlayMenu ul li ul {
	display: none;
}
.overlayMenu ul li ul li a {
	font-size: 20px;
	padding-left: 10px;
	line-height: 40px;
}
.overlayMenu ul li ul li a:hover {
    transform: translateX(0);
	padding-left: 10px;
}
.overlayMenu ul li ul li a:hover::before {
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    background-color: ;
    transition: 0.4s;
    transform: translateX(0);
	
}

.overlayMenu ul li a:active {
    transform: translateX(-2px);
    padding-left: 80px;
    color: #000;
    background: rgba(255, 255, 255, 0.03);
}

.overlayMenu ul li a:focus {
    transform: translateX(-2px);
    padding-left: 80px;
    color: #000;
    background: rgba(255, 255, 255, 0.03);
}

.burger-pop_up h5 {
    font-size: 32px;
    line-height: 22px;
    color:#000000;
    font-weight: bold;
    margin-bottom: 20px;
}

.burger-pop_up .contact-us {
    margin-top: 10vw;
}

.burger-pop_up .social-link {
    margin-top: 10vw;
}

.burger-pop_up .contact-us ul li p {
    font-size: 22px;
    line-height: 36px;
    color: rgb(255,255,255);
    margin-bottom: 0;
}

.burger-pop_up .social-link .overlayMenu {
    position: relative;
    margin-top: 0;
}

.burger-pop_up .social-link ul li a {
    font-size: 22px;
    line-height: 36px;
    color: rgb(255,255,255);
    transition: 0.2s;
}

.burger-pop_up .social-link ul li a:hover {
    transform: translateX(-2px);
    color: #000;
    text-decoration: none;
}

.burger-pop_up .social-link ul li a:active::before {
    position: absolute;
    content: "";
    top: 15px;
    left: 0;
    width: 24px;
    height: 3px;
    background-color: #000000;
}

/* /* .burger-pop_up .social-link ul:nth-child(2) {
    animation-delay: 0.5s;
}

.burger-pop_up .social-link ul:nth-child(3) {
    animation-delay: 0.6s;
}

.burger-pop_up .social-link ul:nth-child(4) {
    animation-delay: 0.7s;
}

.burger-pop_up .social-link ul:nth-child(5) {
    animation-delay: 0.8s;
} */

.navbar-pop-up .text-close {
    margin-left: 80px;
    font-size: 14px;
    color: rgb(255,255,255);
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0;
	margin-top: 30px;
}

.navbar-pop-up {
    /*margin: 55px 35px 0 35px;*/
    max-width: 100%;
    height: 90px;
    padding: 0 25px;
    background: #FFFFFF}

.navbar-pop-up .users-block {
    float: right;
}

.navbar-pop-up .users-block a {
    font-size: 14px;
    line-height: 36px;
    padding: 0 10px;
    margin-right: 35px;
    color: #000;
    font-weight: bold;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 0;
}

.navbar-pop-up .users-block a:hover {
    text-decoration: none;
    cursor: pointer;
    color: #000;
}

.navbar-pop-up .primary {
    width: 146px;
    height: 36px;
    background: none;
    font-size: 14px;
    line-height: 35px;
    color: #000;
    font-weight: bold;
    text-align: center;
    border: 1px solid #000;
}

.navbar-pop-up .primary:hover {
    background: transparent;
    color: white;
    border: 2px solid white;
}

.locked {
    overflow: hidden;
}

.overlay.open .footer-pop-up {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 30px;
    background: #000;
    text-align: center;
	margin-top: 30px;
}

.overlay.open .footer-pop-up p {
    font-size: 16px;
    line-height: 24px;
    color: rgb(153,153,153);
    text-align: center;
    margin-bottom: 0;
}

.menu-container {
	display: flex;
	align-items: center;
}

.navbar-pop-up .logo {
    text-align: center;
    margin-top: 20px;
}

#close-menu { width: 35px; height: 35px; background: url(../images/close.png) center no-repeat; background-size: contain; display: block; text-decoration: none; opacity: 0.5; }
#close-menu:hover { opacity: 1; }


.rpo-image {
	height: 270px;
}
.twitter-feed {
	margin: auto;
	display: block;
	width: 100%;
	max-width: 600px;
}

.fal, .far {
    font-family: "Font Awesome 5 Pro" !important;
}

.fab {
    font-family: "Font Awesome 5 Brands" !important;
}

