#vacancy-apply { background: #fcfcfc; border-radius: 10px; padding: 20px; }
#vacancy-apply h1 { font-size: 25px; font-weight: bold; margin-bottom: 10px; font-weight: 600; margin-top: 0px; color: #000; }
#vacancy-apply input[type=text] { width: 100%; border: 0px; padding: 10px; margin-top: 10px; background: #f1f1f1; font-size: 18px; }
#vacancy-apply input[type=submit] { width: 100%; border: 0px; padding: 25px; margin-top: 10px; background: #cd1761; color: #fff; font-size: 18px; transition: .2s ease-in-out all; border-radius: 3px; }
#vacancy-apply input[type=submit]:hover { background: #000; }
#vacancy-apply .drop_uploader { margin-top: 10px; }
#vacancy-apply .cv-label { margin-top: 20px; display: block; }
#vacancy-apply .bfile { float:right; background: #fff; font-size: 11px; width: 100px; padding: 5px; margin-top: 5px; }
#vacancy-apply .files.thumb { float: left; width: 70%; padding-left: 0px; margin: 0px; width:100%;overflow:hidden; }
#vacancy-apply .files.thumb li div.thumbnail { float: left; width: 20%; background: none; margin-right: 0px; height: auto; }
#vacancy-apply ul.files.thumb li { padding-left: 0px;}
#vacancy-apply ul.files.thumb li span.title { padding-left: 0px; float: left; font-size: 13px; width: 150px; margin-top: 5px; }
#vacancy-apply .gdprconfirm { font-size: 12px; color: #333; margin-top: 10px; font-weight: lighter; }
#vacancy-apply .gdprconfirm a { color: #93c01f; }

#vacancy-applied { background: #4BB543; padding: 20px; color: #fff; margin-top: 25px; border-radius: 3px; }
#vacancy-applied h1 { font-size: 25px; font-weight: bold; margin-top: 0px; }
#vacancy-applied p { margin-top: 20px; line-height: 28px; font-size: 18px; font-weight: 300; }
#vacancy-applied a { text-align: center; display: block; width: 100%; padding: 15px; background: #1d263e; color: #fff; margin-top: 25px; font-weight: bold; font-size: 20px; }
#vacancy-applied a:hover { background: #000; }

#vacancy-specifics { margin-bottom: 30px; box-sizing: border-box; border-bottom: 0px; margin-top: 25px; }
#vacancy-specifics .row { margin-left: 0px; padding: 10px; background: #fff; border-bottom: #ccc 1px dotted; box-sizing: border-box; margin-right: 0px; }
#vacancy-specifics .row:nth-child(2n) { background: #fbfbfb; }
#vacancy-specifics .row .value-label { width: 25%; float: left; text-align: left; color: #000; font-size: 20px; font-weight: 400; }
#vacancy-specifics .row .value { width: 70%; float: left; text-align: left; font-size: 20px; color: #333; font-weight: 300; }
#vacancy-specifics .row .value a { display: block; float: left; border: #ccc 1px solid; font-size: 15px; padding: 5px; border-radius: 2px;}
#vacancy-specifics .row .value a:hover { border-color: #000; color: #000; text-decoration:none; }
.linkedin { background: #0077B5 url(../images/icons/linkedin.png) left no-repeat; background-size: 40px; background-position: 15px; color: #fff; padding: 15px; font-size: 20px; width: 100%; display: block; margin-top: 20px; border-radius: 3px; line-height: 45px; padding-left: 75px; margin-bottom: 20px; }

.whatsapp { background: #25d366 url(../images/icons/whatsapp.png) left no-repeat; background-size: 40px; background-position: 15px; color: #fff; padding: 15px; font-size: 20px; width: 47.5%; display: block; border-radius: 3px; line-height: 45px; padding-left: 75px; float: left; }

.messenger { background: #0084ff url(../images/icons/messenger.png) left no-repeat; background-size: 40px; background-position: 15px; color: #fff; padding: 15px; font-size: 20px; width: 47.5%; display: block; margin-top: 0px; border-radius: 3px; line-height: 45px; padding-left: 75px; margin-bottom: 15px;  float: left; margin-left: 5%; }

.linkedin:hover {  background: #005c8c url(../images/icons/linkedin.png) left no-repeat;  background-size: 40px; background-position: 15px; color: #fff; }
.whatsapp:hover {  background: #16b451 url(../images/icons/whatsapp.png) left no-repeat;  background-size: 40px; background-position: 15px; color: #fff; }
.messenger:hover {  background: #0471d7 url(../images/icons/messenger.png) left no-repeat;  background-size: 40px; background-position: 15px; color: #fff; }

.consultant { text-align: center; font-size: 22px; margin-top: 30px; margin-bottom: 30px; }
.consultant .tel { font-size: 35px; color: #f59b07; }

#vacancyquicksearch { width: 100%; margin-top: 25px; }
#vacancyquicksearch input[type=text] { width: 85%; padding: 15px; box-sizing: border-box; float:left; border-top-left-radius: 3px; border-bottom-left-radius: 3px; border: #ccc 1px solid; border-right: 0px;}
#vacancyquicksearch input[type=submit] { width: 15%; padding: 15px; box-sizing: border-box; float:left; background: #1dab92; border: 0px; color: #fff; height: 54px; cursor:pointer; transition: ease-in-out .2s all; border-top-right-radius: 3px; border-bottom-right-radius: 3px; }
#vacancyquicksearch input[type=submit]:hover { background: #108671; }
.conimg { display: block; margin: auto; border-radius: 50%; margin-bottom: 10px; }

.job { max-width: 1200px; }
.job h2 { font-size: 20px;  }

.back-btn {
    background: #cd1761;
    display: block;
    width: 200px;
    padding: 15px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    transition: ease-in-out .2s all;
    text-decoration: none;
	text-decoration: none;
}
.back-btn:hover { color: #000; }

.job-post{
    padding: 20px 20px 70px;
    margin-bottom: 15px;
    transition: ease-in-out all .2s;
	position:relative;
	background: #fbfbfb;
	border-radius: 10px;
}
.job-post .shortdesc { font-weight: lighter; }
.jobcode{
	position:absolute;
	right:20px;
	top:25px;
}
.why-choose .job-post p{
	text-align:left;
	font-size:15px;
	line-height:24px;
}
h4.job-title{
	font-size:25px;
	padding-bottom:10px;
	color:#cd1761;
	width:90%;
}
.info-holder{
	margin-bottom:20px;
	color:#212529;
	font-size:16px;
}
.info-holder span{
	padding-left:25px;
}
.read-btn a{
	position:absolute;
	right:0;
	bottom:0;
	padding: 15px;
	font-size: 20px;
	width: 200px;
	color: #212529;
	text-align: center;
	transition: ease-in-out .2s;
	background: #ccc;
	border-bottom-right-radius: 10px;
	border-top-left-radius: 10px;
}
.read-btn a:hover{
	text-decoration:none;
	background:#93c01f;
	color:#000;
}
.keyw{
	padding: 20px;
	font-size: 20px;
	color: #212529;
	border: 2px solid #000000;
	width:100%;
	border-radius: 10px;
}
.filterbtn input[type=submit],
.filterbtn input[type=button]{
	background: #cd1761;
	width: 100%;
	border: 0px;
	margin-top: 15px;
	padding-top: 18px;
	padding-bottom: 18px;
	color: #ffffff;
	transition: ease-in-out .2s;
	font-size: 20px;
	font-family: 'Josefin Sans', sans-serif;
	cursor: pointer;
	border-radius: 10px;
}
.filterbtn {
	margin-bottom: 50px;
}
.filterbtn input[type=button]:hover{
    background: #000;
}
.search-sec{
	margin-top: 15px;
	padding: 20px;
	color: #212529;
	border-radius: 10px;
	background: #fff;
}
.search-title{
	color:#cd1761;
	font-size: 23px;
	margin-bottom: 15px;
}
.search-sec label{
	display:block !important;
	color: #000 !important;
	font-size: 17px !important;
	cursor: pointer !important;
	border-bottom: 1px dotted #cccccc !important;
	width: 100% !important;
	transition: ease-in-out .2s !important;
	overflow: visible !important;
	padding-bottom: 10px !important;
	padding-top: 10px !important;
	margin-bottom: 5px !important;
}
.search-sec label:hover{
	color:#000;
}
.search-sec input[type=checkbox]{
	margin-top:3px;
}
.search_subsector { font-size: 16px; color: #666 !important; }
.search_sector { font-size: 15px; color: #000 !important;  }
.checkpos{
    overflow-x: hidden;
    max-height: 250px;
}
.jobsearch{
	padding-bottom:50px;
}
.banner-form-srch.jobsearch .form-group input{
	border:1px solid #ccc;
}

#vacancysearch { margin-bottom: 100px; }

.jobdesc { font-size: 20px; font-weight: 300; }

#vacancy-info { background: #fff; padding: 30px; border-radius: 10px; padding-top: 0px; }
#vacancy-info h1 { color: #cd1761; font-size: 30px; }