
@font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 300;
    src:
      local('Gotham Book'),
      url('./Gotham-Book.otf') format('otf'),
      url('./Gotham-Book.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gotham';
    font-style: italic;
    font-weight: 100;
    src:
      local('Gotham Light Italic'),
      url('./Gotham-Light-Italic.otf') format('otf'),
      url('./Gotham-Light-Italic.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 400;
    src:
      local('Gotham Medium'),
      url('./Gotham-Medium.otf') format('otf'),
      url('./Gotham-Medium.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 700;
    src:
      local('Gotham Bold'),
      url('./Gotham-Bold.otf') format('otf'),
      url('./Gotham-Bold.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Gotham';
    font-style: normal;
    font-weight: 800;
    src:
      local('Gotham Black'),
      url('./Gotham-Black.otf') format('otf'),
      url('./Gotham-Black.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src:
      local('Roboto-Regular'),
      url('./Roboto-Regular.otf') format('otf'),
      url('./Roboto-Regular.woff') format('woff');
  }
  