@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

html, body {
    padding: 0px;
    margin: 0px;
}

a {
    transition: ease-in-out .2s all;
}

body {

    font-family: 'Open Sans', sans-serif;
    background: #f9f9f9;

}

.clr {
    clear: both;
}

/* LEFT COL NAV */

#left-column-nav {

    position: fixed;
    left: 0px;
    width: 300px;
    height: 100vh;
    background: #222;
    display: block;
    overflow-y: scroll;
}

#left-column-nav .logo {
    background: #111;
    padding: 5px;
}

#left-column-nav .logo .bold {
    display: block;
    width: 100px;
    height: 25px;
    background: url(../../images/backend/bold-logo.png) no-repeat;
    background-size: contain;
    text-decoration: none;
    margin: 10px auto;
}

#left-column-nav .nav ul {
    margin: 0px;
    padding-left: 0px;
}

#left-column-nav .nav ul li {
    color: #fff;
    list-style: none;
    margin-left: 0px;
    padding-left: 0px;
    padding-left: 15px;
    border-left: #222 5px solid;
    height: 45px;
    line-height: 45px;
}

#left-column-nav .nav ul li i {
    margin-right: 15px;
    width: 15px;
}

#left-column-nav .nav ul li a {
    text-decoration: none;
    color: #ccc;
    transition: ease-in-out all .2s;
    font-weight: lighter;
    font-size: 15px;
}

#left-column-nav .nav ul li a:hover {
    color: #fff;
}

#left-column-nav .nav ul li:hover {
    border-color: #ff5500;
    transition: ease-in-out all .2s;
}

#left-column-nav .nav ul li a:hover i {
    color: #ff5500;
}

#left-column-nav .nav ul li:hover i {
    color: #ff5500;
}

#left-column-nav .nav ul li.active i {
    color: #ff5500;
}

#left-column-nav .nav .subheader {
    font-size: 14px;
    height: 20px;
    line-height: 20px;
    margin-top: 20px;
    color: #666;
    cursor: default;
    font-weight: lighter;
}

#left-column-nav .nav .subheader:hover {
    border-color: #222;
}

/* */

/* TOP BAR */

#top-bar {
    width: 100%;
    height: 55px;
    background: #eee;
    position: fixed;
    top: 0;
    line-height: 55px;
    padding-left: 320px;
    box-sizing: border-box;
}

#top-bar .logout {
    display: block;
    text-align: center;
    color: #000;
    width: 100px;
    float: right;
    font-weight: lighter;
    text-decoration: none;
    background: #ccc;
}

#top-bar .logout i {
    margin-right: 5px;
}

#top-bar .logout:hover {
    background: #333;
    color: #fff;
}

#top-bar .logout:hover i {
    color: #ff5500;
}

/* */

/* CONTROL CONTAINER */

#control-container {
    margin-left: 300px;
    padding: 80px 50px 50px 30px;
}

#control-container h1 {
    font-weight: lighter;
    margin-top: 0;
    padding-top: 0;
    font-size: 25px;
}

#control-container h1 i {
    margin-right: 10px;
    color: #ff5500;
}

#control-container h1 .fa-caret-right {
    color: #ccc;
    font-size: 18px;
    margin-left: 10px;
}

#control-container .icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    background: #eee;
    line-height: 30px;
    text-decoration: none;
    color: #ff5500;
    transition: ease-in-out .2s all;
}

#control-container .icon:hover {
    background: #222;
    color: #fff;
}

#control-container hr {
    border: #eee 1px solid;
    height: 0;
    margin-top: 30px;
    margin-bottom: 30px;
}

#control-container .form-section {
    padding: 20px;
    background: #fff;
    margin-top: 20px;
    border: #eee 1px solid;
}

#control-container .form-section .heading {
    font-weight: 600;
    display: block;
}

#control-container .half_column_left {
    float: left;
    width: 49%;
    margin-right: 2%;
}

#control-container .half_column_right {
    float: left;
    width: 49%;
}

#control-container .full_column {
    width: 100%;
}

#control-container .col {
    margin-top: 20px;
    display: block;
}

#control-container .col input[type=text] {
    width: 100%;
    background: #eee;
    border: none;
    padding: 15px;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: lighter;
}

.multiple_checkboxes_box {
    overflow-y: scroll;
    max-height: 120px;
    border: 1px solid #d3d3d3;
    border-radius: 3px;
}

#control-container .col select {
    width: 100%;
    background: #eee;
    border: none;
    padding: 15px;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: lighter;
}

#control-container .col input[type=number],
#control-container .col input[type=email],
#control-container .col input[type=tel],
#control-container .col input[type=password],
#control-container .col input[type=text] {
    width: 100%;
    background: #eee;
    border: none;
    padding: 15px;
    font-size: 15px;
    box-sizing: border-box;
    font-weight: lighter;
}

#control-container .col label {
    font-size: 14px;
    margin-bottom: 5px;
    display: block;
    color: #666;
    font-weight: lighter;
}

#control-container .col label a {
    color: #ff5500;
    margin-left: 10px;
    opacity: 0.8;
}

#control-container .col label a:hover {
    opacity: 1;
}

#control-container .submit {
    float: right;
    background: #57b108;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: ease-in-out .2s all;
    padding: 15px;
}

#control-container .submit:hover {
    background: #5ebf08;
}

#control-container .submit i {
    margin-right: 15px;
}

table#vacancies a {
    color: #000000;
    text-decoration: none;
}

/* */

/* BUTTON STYLES */

#button-holder {
    float: right;
}

.btn {
    display: block;
    padding: 14px;
    text-align: center;
    float: right;
    font-weight: lighter;
    font-size: 15px;
    border-radius: 3px;
    transition: ease-in-out .2s all;
    margin-left: 10px;
}

.btn i {
    margin-right: 5px;
}

.cancel {
    background: #bd1010;
    color: #fff;
    text-decoration: none;
}

.cancel:hover {
    background: #d40a0a;
}

.add {
    background: #57b108;
    color: #fff;
    text-decoration: none;
}

.add:hover {
    background: #5ebf08;
}

/* */

/* ACTION EVENTS */

.success {
    background: #57b108;
    width: 100%;
    border-radius: 2px;
    padding: 15px;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    box-sizing: border-box;
}

.success i {
    margin-right: 10px;
}

.error {
    background: #b10010;
    width: 100%;
    border-radius: 2px;
    padding: 15px;
    color: #fff;
    font-weight: lighter;
    text-align: center;
    box-sizing: border-box;
}

.error i {
    margin-right: 10px;
}

/* */